<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        {% block head_meta %}
            <meta name="viewport" content="width=device-width" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% endblock head_meta %}
        
        {% block base_style %}
        {% endblock base_style %}
        
        {% block extra_style %}
        {% endblock extra_style %}
    </head>
    
    <body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
        <div id="page_header">
            {% block page_header %}
            {% endblock page_header %}
        </div>
        
        <div id="page_content">
            {% block page_content %}
            {% endblock page_content %}
        </div>
    
        <div id="page-footer">
            {% block page_footer %}
                {% comment %}
                    <pdf:pagenumber />
                {% endcomment %}
            {% endblock page_footer %}
        </div>
    </body>
</html>