{% extends "html_table/base.html" %}

{% block head_meta %}
    <title>pdf template</title>
{% endblock head_meta %}

{% block base_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 2cm;
            margin-right: 2cm;
            margin-top: 2cm;
            margin-bottom: 2cm;
            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 0.3cm;
                margin-right: 2mm;
                margin-bottom: 0cm;
                margin-left: 1.2cm;
            }
            @frame footer {
                -pdf-frame-content: page-footer;
                bottom: 0cm;
                margin-left: 1cm;
                margin-right: 1cm;
                height: 1cm;
            }
        }
    </style>
{% endblock base_style %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style type="text/css">
        html {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
        p {
            font-size: 11pt;
        }
        table {
            line-height: 140%;
            margin-bottom: 20px;
        }
            table.bordered {
                border-top: 0.1pt solid #999999;
                border-bottom: 0.1pt solid #999999;
            }
            tr, td, th { border: none; }
            th {
                font-size: 10pt;
                border-bottom: 0.1pt solid #999999;
                
                padding: 3px 0px;
                line-height: 1;
                font-weight: bold;
            }
            td {
                font-size: 10pt;
                vertical-align: top;
                padding: 3px 0;
            }            
            td:last-child { padding-bottom: 0; }
        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }
        .header { color: #7f7f7f; }
        .header p { font-size: 13px; line-height: 1.5em; }
        .header-link { font-weight: bold; text-decoration: none; color: #4F81BD; font-size: 14px; }
        .logo { margin-bottom: 20px; margin-left: -25px; }
        .title { margin-bottom: 5cm; }
        .logo img { zoom: 60%; }
        .recipient { margin-left: 7cm; }
        
        .main h1 {
            margin: 24px 0 18px 0;
            font-size: 240%;
            font-weight: normal;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .rouge {color : #c8102e;}
        .vert {color : #009a44;}      
        .main h2 {
            margin: 18px 0 6px 0;
            font-size: 180%;
            font-weight: normal;
            margin-top: 0.2em;
            margin-bottom: 0.2em;            
        }
        .info { border: 1px solid #4F81BD; padding: 10px; margin-top: 50px; margin-bottom: 50px; }
        .info a { color: #4F81BD; text-decoration: none; }
    </style>            
{% endblock extra_style %}