

{% for object in hosted_in %}
<a href="/cp/{{object.code}}/" class="container-box-main header-home">  
    <p class="title-cp"><strong>
        {{object.secteur|capfirst}}
    </strong></p>
    <img id="logo-cp" class="img-fluid img-200" src={{object.logo.url}}?reloadV44 alt={{object.acronyme}}>
</a>
{% endfor %}
