<h2>3 hébergés sur ce site</h2>
<div class="flex-container">
    {% for object in hosted_in %}
    
        <a href="/cp/{{object.code}}/" class="container-box-main">
        <p class="text-white"><strong>
            {{object.secteur|capfirst}}
        </strong></p>
        <img class="img-fluid" src={{object.logo.url}} alt={{object.acronyme}}>
        </a>
    
    {% endfor %}
</div>

<h2>8 hébergés ailleurs</h2>
<div class="flex-container">
    {% for object in hosted_out %}
    
        <a href="/cp/{{object.code}}/" class="container-box-main">
        <p class="text-white"><strong>
            {{object.secteur|capfirst}}
        </strong></p>
        <img class="img-fluid" src={{object.logo.url}} alt={{object.acronyme}}>
        </a>
    
    {% endfor %}
</div>
