{% load csstags %}

<div class="flex-container">
    {% for cploc in cploc_list %}
    <div class="container-box-warning">
        <h4>{{cploc.intitule}}</h4>
        <p>{{cploc.title}}</p>
        <p><i>{{cploc.subtitle|default_if_none:""}}</i></p>

        <div class="flex-container-start">
            <p class="me-2"><i class="far fa-envelope"></i></p>
            <div class="address">
                <div>
                    <p>{{cploc.street|default_if_none:""}}</p>
                    <p>{{cploc.zip|default_if_none:""}}</p>
                </div>
            </div>
        </div>

        <p><i class="fas fa-at"></i><a href="mailto:{{cploc.contact.email}}">  {{cploc.contact.email}}</a></p>
        {% if cploc.contact.phone %}
            <p><i class="fas fa-phone-alt"></i>  {{cploc.contact.phone}}</p>
        {% endif %}
        {% if cploc.contact.mobile %}
            <p><i class="fas fa-mobile"></i>  {{cploc.contact.mobile}}</p>
        {% endif %}

        {% if user.is_manager %}
        <a style="margin: 10px 0px;" class="btn btn-danger2" href="{% url 'cploc_update' cploc.id %}">Modifier</a>
        {% endif %}     
    </div>
    {% endfor %}
</div>


{% if user.is_manager %}
    <a class="btn btn-success2" href="{% url 'cploc_create' object.id %}">Ajouter  Localisation/Siège d'activité?</a>
{% endif %}

