{% load csstags %}

<div class="row">
    <div class="col-md-12">
        <h3><a href="{{object.siteweb}}" target="_blank">{{ object.acronyme }}</a> {{ object.nom }}</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-3">
        <img class="img-left img-fluid" src="{{ object.logo.url }}" alt="{{ object.acronyme }}">
    </div>
    <div class="col-sm-12 col-md-9">
        {{ object.short_text|safe }}
    </div>
    <div class="col-sm-12 col-md-12">
        <p><strong>{{ object.secteur|capfirst }}</strong>
        <a href="{{object.siteweb}}" target="_blank">{{object.siteweb|default_if_none:""}}</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if user.is_manager %}
            <a class="btn btn-danger2" href="{% url 'cp_update' object.id %}">Modifier</a>
        {% endif %}
    </div>
</div>
