{% load csstags %}

<h4><a href="{{object.siteweb}}" target="_blank">{{ object.acronyme }}</a> {{ object.nom }}</h4>


<img class="img-left img-fluid" src="{{ object.logo.url }}" alt="{{ object.acronyme }}">
<div class="container-text">
    {{ object.short_text|safe }}

    <p><strong>{{ object.secteur|capfirst }}</strong>
        <a href="{{object.siteweb}}" target="_blank">{{object.siteweb|default_if_none:""}}</a>
    </p>

    <p>{{ object.get_social_link|safe }}</p>
</div>



<div class="row">
    <div class="col-md-12">
        {% if user.is_manager %}
            <a class="btn btn-danger2" href="{% url 'cp_update' object.id %}">Modifier</a>
        {% endif %}
    </div>
</div>
