{% load csstags %}

<div class="flex-container">
{% for profile in profile_list %}
    <div class="container-box-warning">
        <h2>{{profile.get_full_name}}</h2>
        <p><strong>{{profile.jobdesc|default_if_none:""}}</strong></p>
        <p><i class="fas fa-at"></i><a href="mailto:{{profile.email}}"> {{profile.email}}</a></p>
        {% if profile.phone %}
            <p><i class="fas fa-phone-alt"></i> {{profile.phone}}</p>
        {% endif %}
        {% if profile.mobile %}
        <p><i class="fas fa-mobile"></i> {{profile.mobile}}</p>
        {% endif %}
        <a class="btn btn-danger2" href="{% url 'profile_detail' profile.id %}">Modifier</a>
    </div>
{% endfor %}
</div>
