<div id="event-list-home">
{% for object in event_list %}
<hr class="hr-cp">
<div class="flex-container mb-2">
    <a href="{{object.get_absolute_url}}" target="_blank" class="btn btn-main2 m-1">
        {{object.begin_date|date:"d.m.Y"}}
    </a>
    <a href="{{object.get_absolute_url}}" target="_blank" class="m-1">
        {{object.title}}
    </a>
    <span class="m-1">{{object.get_event_type_display|default_if_none:""}}</span>
    <span class="flex-container-start m-1">{{object.beginend_time|safe}}</span>
</div>    
<div>

    {% if object.codepostal %}
        <div class="address">
            <p class="me-2"></p>
            <p><i class="fas fa-map-marker-alt me-2"></i>{{object.street|default_if_none:""}}</br>
            {{object.codepostal|default_if_none:""}}</p>
        </div>
    {% endif %}
    <p>{{object.culture_txt|default_if_none:""}}</p>
    <div class="agenda-org">{{ object.get_organisation_list|safe }}</div> 
</div>

{% endfor %}
</div>

