<div id="event-list-home">
{% for object in event_list %}
<hr class="hr-cp">
<div class="flex-container-start">
    <div>
        <div class="container-box-day">
            <p class="text-white">{{object.begin_date|date:"l"|capfirst}}</p>
            <p class="calendar-day"><strong>{{object.begin_date|date:"j"}}</strong></p>
            <p class="text-white">{{object.begin_date|date:"F"|upper}}</p>
        </div>
        <h5 class="flex-container-start">{{object.beginend_time|safe}}</h5>
    </div>
    <div>
        <h3 class="mt-2 flex-container-start">
            <a href="{{object.get_absolute_url}}" target="_blank">
                <i class="me-2 fas fa-info-circle"></i>{{object.title}}
            </a>
            &nbsp;&nbsp;
            <span>{{object.get_event_type_display|default_if_none:""}}</span>
        </h3>
        {% if object.codepostal %}
            <div class="address">
                <p class="me-2"></p>
                <p><i class="fas fa-map-marker-alt me-2"></i>{{object.street|default_if_none:""}}</br>
                {{object.codepostal|default_if_none:""}}</p>
            </div>
        {% endif %}
        <p>{{object.culture_txt|default_if_none:""}}</p>
        <div class="agenda-org">{{ object.get_organisation_list|safe }}</div> 
    </div>
</div>
{% endfor %}
</div>

