{% load csstags %}

<div id="msg-list-home">
{% for object in msg_list %}
    
    <hr class="hr-cp">

    <a href="{% url 'msg:msg_consult' object.id %}" class="btn btn-main2 m-1">
        {{ object.get_title }}
    </a>            

    <div class="flex-container-start grey-box">
        {% if object.summary_img %}
            <img id="summary-img" class="img-left img-fluid img-200" src="{{object.summary_img.url}}" alt="{{object.centrepilote}}">
        {% else %}
            <img id="summary-img" class="img-left img-fluid img-200" src="{{object.centrepilote.logo.url}}" alt="{{object.centrepilote}}">
        {% endif %}

        <div>
            {% if object.summary_txt %}
                <div style="font-size: small">{{ object.summary_txt|safe|truncatewords_html:50 }}</div>
            {% else %}
                {% for i in object.msgdet_set.all %}
                <p class="text-{{ i.categorie.code }}" style="margin-bottom: .5rem; font-size: small;">
                    <i class="fas {{ i.categorie.icone }} me-2"></i>{{ i.title }}
                </p>     
                {% endfor %}
            {% endif %}
        </div>

    </div>
{% endfor %}
</div>