<div class="carousel" data-flickity='{ "groupCells": true, "imagesLoaded": true}'>
    {% for msg in recent_msgs %}
        <!-- The slideshow -->
        <div class="carousel-cell">
            <img width="400px" class="imgslider" src="{{msg.get_img300}}" alt="{{msg.title}}">
            <a href="{% url 'msg:msg_consult' msg.id %}" class="img-txt-up btn btn-main2">{{ msg.get_title }}</a>
            <a href="{% url 'msg:msg_consult' msg.id %}" class="img-txt-down btn btn-info2">{{ msg.title }}</a>
        </div>
    {% endfor %}
</div>