{% load csstags %}
<div class="flex-container-start my-1">
	<span class="page-counter m-1">{{object_list.count}}</span>
	<span class="page-text m-1">sur</span>
	<span class="page-counter m-1">{{totalrec}}</span>
</div>