{% extends 'base_accounts.html' %}
{% load i18n static %}

{% block content %}

    <p>{% trans "Erreur lors de l'activation de votre compte." %}</p>

    <p>{% trans "Le lien d'activation n'est plus valide." %}</p>

    <p>
        {% blocktrans %}
        Contactez <a href="mailto:{{ admin_email }}?subject=CentrePilote: le lien d'activation n'est plus valide" target="_top">l'administrateur du site</a>
        avec la même adresse mail que celle vous avez utilisé pour vous identifier.
        {% endblocktrans %}
    </p>

{% endblock %}