{% extends 'base_accounts.html' %}
{% load i18n %}


{% block content %}

<p>{% blocktrans %}Félicitation, votre compte a été activé.{% endblocktrans %}</p>

<p>{% blocktrans %}Vous pouvez vous connecter en utilisant vos identifiants (email et mot de passe).{% endblocktrans %}</p>

<p>{% blocktrans %}Veuillez compléter votre profile (Prénom, Nom, profession, code postal, etc.) dès le début svp.{% endblocktrans %}</p>

<p>{% blocktrans %}Rendez-vous également dans le menu Profile (E-mail) => 'Mes Inscriptions' afin de sélectionner les listes d'envois qui vous intéressent.{% endblocktrans %}</p>

<a href="{% url 'login' %}" class="btn btn-main2">{% trans "Connexion" %}</a>

{% endblock %}