{% extends 'base_accounts.html' %}
{% load i18n static %}

{% block content %}

    <p>{% trans "Erreur lors de l'activation de votre compte." %}</p>

    <p>{% trans "L'administrateur du site a été averti. Il vous enverra un email dès que le problème est résolu." %}</p>

{% endblock %}