{% extends 'base_accounts.html' %}
{% load i18n %}


{% block content %}
    <p>{% blocktrans %}Un e-mail vous a été envoyé avec un lien d'activation.{% endblocktrans %}</p>

    <p>{% blocktrans %}Vous disposez de {{ PASSWORD_RESET_TIMEOUT_DAYS }} jours pour l'activer.{% endblocktrans %}</p>

    <p>{% trans "Si vous ne recevez pas de message, vérifiez votre adresse électronique ainsi que votre dossier spam." %}</p>
{% endblock %}
