{% extends 'base_accounts.html' %}
{% load i18n csstags static django_bootstrap5 %}

{% block title %}{% trans "S'inscrire" %}{% endblock %}

{% block content_title %}<h3>{% trans "S'inscrire" %}</h3>{% endblock %}

{% block content %}
<form action="" method="post" class="form" id="signup">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    
        <button type="submit" class="btn btn-danger2">{% trans "Enregistrer" %}</button>
        <a class="btn btn-main2" href="/cp/">{% trans "Annuler" %}</a>
    
</form>
{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
    <script src="{% static 'js/required_fields.js' %}"></script>
{% endblock js %}
