/* -----------------> can start accordion style copy from here ------------------------*/
/* Exemple ci-dessous
<div class="accordion-bral">
<div>
  <!-- accordion item 1 -- start -->
  <input class="ac-input" id="ac-1" name="accordion-1" type="checkbox" checked/>
  <label class="ac-label" for="ac-1">Solde total<i></i></label>
  <div class="article ac-content">
    {% include '_graph_main.html' %}
  </div>
</div>
  <!-- accordion item 1 -- end -->

<div>
  <!-- accordion item 2 -- start -->
  <input class="ac-input" id="ac-2" name="accordion-1" type="checkbox" checked/>
  <label class="ac-label" for="ac-2">Critères<i></i></label>
  <div class="article ac-content">
    {% include '_graph_form.html' %}
  </div>
</div>
  <!-- accordion item 2 -- end -->
</div>
*/
/* https://codepen.io/edcotty/pen/RPWEmN */
@import 'variables';

.accordion-bral {
  min-height: 0;
  min-width: 220px;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  margin: 0px!important;
}
.accordion-bral .ac-label {
  padding: 6px 14px;
  margin-top: .75rem;
  position: relative;
  display: block;
  height: auto;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;  
}

.accordion-bral input + .ac-label  {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion-bral input.ac-input {
  display: none;
}
.accordion-bral .article {
  // background: rgb(240, 240, 240);
  overflow: hidden;
  height: 0px;
  max-height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
// HBP list all sub tag that could be used in article
.accordion-bral .article {
  table {padding: 5px 20px 0px 10px;}
  p {padding: 5px 20px 0px 10px;}
  li {padding: 5px 20px 0px 10px;}
  pre {padding: 5px 20px 0px 10px;}
  h1 {padding: 5px 20px 0px 10px;}
  h2 {padding: 5px 20px 0px 10px;}
  h3 {padding: 5px 20px 0px 10px;}
  h4 {padding: 5px 20px 0px 10px;}
  h5 {padding: 5px 20px 0px 10px;}
  h6 {padding: 5px 20px 0px 10px;}
  div {padding: 5px 20px 0px 10px;}
}
.accordion-bral input:checked ~ .article i {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 10px;
}

.accordion-bral i {
  position: absolute;
  transform: translate(-30px, 0);
  margin-top: .65rem;
  right: 0;
}
.accordion-bral input:checked ~ .ac-label i:before {
  transform: translate(2px, 0) rotate(-45deg);
}
.accordion-bral input:checked ~ .ac-label i:after {
  transform: translate(-2px, 0) rotate(45deg);
}
.accordion-bral i:before, .accordion-bral i:after {
  content: "";
  position: absolute;
  background-color: #808080;
  width: 3px;
  height: 9px;  
}
.accordion-bral i:before {
  transform: translate(-2px, 0) rotate(-45deg);
}
.accordion-bral i:after {
  transform: translate(2px, 0) rotate(45deg);
}
ul.ac-list {
  padding-left: 40px;
  list-style-type: disc;
}

table.ac-table {
  margin: 20px 0 20px 20px;
}
table.ac-table th{
  text-align: left;
}

// TITLE-LABEL
@mixin my-title-label($my-color) {
  color: $my-color;
  border: thin solid $my-color;
  border-radius: .25rem;
  &:hover, &:focus {
    background-color: $my-color;
    color: $color-font2;
  }
}
.title-avert {
  @include my-title-label($color-avert);
}
.title-comm {
  @include my-title-label($color-comm);
}
.title-event {
  @include my-title-label($color-event);
}

// BTN LABEL
@mixin my-btn-label($my-color) {
  color: $my-color;
  border: solid thin $my-color;
  border-radius: .25rem;
  padding: 6px 14px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; 
}
.btn-avert {
  @include my-btn-label($color-danger2);
}
.btn-comm {
  @include my-btn-label($color-main2);
}
.btn-event {
  @include my-btn-label($color-success2);
}

// border arround ac-content
@mixin my-ac-content($my-color) {
  padding-top: 10px;
  height: auto;
  border-bottom: solid thin $my-color;
  border-left: solid thin $my-color;
  border-right: solid thin $my-color;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

$msgLabel: (
    "avert": $color-avert,
    "comm": $color-comm,
    "event": $color-event,
);

@each $msgLabel, $i in $msgLabel {
  .accordion-bral input:checked ~ .article.ac-content-#{$msgLabel} {
    @include my-ac-content($i);
  }
}

// Original css
.accordion-bral input:checked ~ .article.ac-content {
  background-color: #f0f0f0;
  padding-top: 10px;
  height: auto;
}