/* -------------------------------------
    CENTREPILOTE specifique
------------------------------------- */
@mixin my-txt($my-color) {
    color: $my-color;
}
@mixin my-bg($my-color) {
    background-color: $my-color;
}
@mixin my-bg-title($my-color) {
    background-color: $my-color;
    font-size: larger;
    font-weight: bold;
}
@mixin my-txt-hover($my-color) {
    text-decoration: none;
    :hover, :focus {
        text-decoration: underline;
        cursor: pointer;
        color: $my-color;
    }  
}
// cepicop
.bg-esc {
    @include my-bg($color-esc);
}
.bg-esc-title {
    @include my-bg-title($color-esc-title);
}
.bg-fro {
    @include my-bg($color-fro);
}
.bg-fro-title {
    @include my-bg-title($color-fro-title);
}
.bg-cer {
    @include my-bg($color-cer);
}
.bg-cer-title {
    @include my-bg-title($color-cer-title);
}
// vegemar
.text-vegemar {
    @include my-txt($color-vegemar);
}
.text-avert {
    @include my-txt($color-avert);
    @include my-txt-hover($color-avert);
}
.text-comm {
    @include my-txt($color-comm);
    @include my-txt-hover($color-comm);
}
.text-event {
    @include my-txt($color-event);
    @include my-txt-hover($color-event);
}
.bg-vegemar {
    @include my-bg($color-vegemar);
}