
/******
FOOTER CSS
https://www.w3schools.com/howto/howto_js_scroll_to_top.asp
*****/

// Footer style
footer {
    padding: 0px;
    background-color: $color-sidebar;
  ul {
    margin-bottom: 0;
  }
}
// CSS bottom right button 
// !!! MUST BE COMBINED WITH JS otherwise not visible !!!
// Action: scroll to top page
.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: $color-secondary2;
    // border: darken($color-main2, 20%) solid;
    line-height: 46px;
    &:hover, &:focus {
        background-color: darken($color-secondary2, 20%);
        border-color: darken($color-secondary2, 20%);
    }
    i {
        font-weight: 800
    }
}
