// @import 'reset';
@import 'variables';
@import 'sidebar';
@import 'footer';
// @import 'accordion'; used only in msg_detail.html
@import 'cp_spec';
/* -------------------------------------
    GLOBAL
------------------------------------- */
body {
  margin: 0;
  font: 100% $font-stack;
  color: $color-font1;
}
// https://css-tricks.com/table-borders-inside/
table {
  width: 80%;
  margin:auto;
  border-collapse: collapse;
  border-style: hidden;
}
table td {
  border: thin solid silver;
  // background-color: snow;
  padding: 10px 10px 0 10px;
}
a {
  color: $color-success2;
}
/* -------------------------------------
    NAV
------------------------------------- */
.navbar a {
  color: $color-success2;
}
#detailMenu a.nav-link {
  color: #fff !important;
  font-weight: bold;
}
#detailMenu a.nav-link:hover, #detailMenu a.nav-link:focus {
  background-color: #6287a2;
}
#detailMenu ul.dropdown-menu {
  background-color: $color-success2;
}
/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1 { font-size: 2rem; color: $color-main2; font-weight: bold;}
h2 {
  font-size: 1.5rem;
  color: $color-main2; font-weight: bold;
  border-bottom: 3px solid $color-main2;
  // line-height: 1.75rem;
  margin-bottom: 1rem;
  padding-bottom: .5rem;  
}
h3 { font-size: 1.2rem; color: $color-main2; font-weight: bold;}
h4 { font-size: 1.1rem; color: $color-main2; font-weight: bold;}
h5 { font-size: 1rem; color: $color-main2; font-weight: 700;}
h6 { font-size: .75rem; color: $color-main2; text-transform: uppercase;}

/* -------------------------------------
    HOME PAGE
------------------------------------- */
.title-cp {
  @include my-txt($color-font2);
}
@media screen and (max-width: 1011px) {
	.title-cp {
	    display: none;
	}
  #logo-cp {
    width: 100px;
  }
}
@media screen and (max-width: 630px) {
	.header-home {
    padding: 1rem !important;
    margin-bottom: 1rem !important;
	}
}
@media screen and (max-width: 480px) {
	.header-home {
    padding: .5rem !important;
    margin-bottom: .5rem !important;
	}
  #logo-cp {
    width: 50px;
  }
  #logo-wallonie {
    display: none;
  }
}
/* -------------------------------------
    CONTAINER
------------------------------------- */
.flex-container-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: 576px) {
	.flex-container-start {
    flex-wrap: nowrap;
	}
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.content {
  width: 100%;
  margin-left: 70px; // no more margin-left because managed by flex display of wrapper!
//     padding: 1px 5px 1px 15px; // padding fixed by container-fluid
  min-height: 100vh;
  transition: all 0.3s;
}
@mixin my-container-box($my-color) {
	background: $my-color;
  padding: 2rem;
  margin: 0 0 2rem 0;
  a {text-decoration:none;}
}
.container-box-main {
  @include my-container-box($color-main2);
  text-align: center;
  text-decoration:none;
  &:hover, &:focus {
    background-color: darken($color-main2, 20%);
    border-color: darken($color-main2, 20%);
    color: $color-font2;
}  
}
.container-box-warning {
  @include my-container-box($color-warning2);
}
.container-box-danger {
	@include my-container-box($color-danger2);
}
.container-box-extra {
  @include my-container-box($color-extra2);
}
.container-box-info {
  @include my-container-box($color-info2);
}
.container-box-success {
  @include my-container-box($color-success2);
}
.container-box-white {
  @include my-container-box($color-font2);
}
%my-grey-box{
  background:#f1f1f1;
  border: thin silver solid;
  border-radius: .25rem;
  padding: 1em;
}
.grey-box {
  @extend %my-grey-box;
}
.address {
  @extend %my-grey-box;
  margin-bottom: 1rem;
  p {
    margin-bottom: 0;
  }  
}
/* -------------------------------------
    PAGINATION
------------------------------------- */
.page-text {
  color: $color-main2;
  background-color: $color-font2;
  padding: .5rem 0rem;
}
.page-counter {
    color: $color-main2;
    background-color: $color-font2;
    border-color: $color-main2;
    border-width: thin;
    border-style: solid;
    border-radius: .25rem;
    border-color: $color-font1;
    padding: .5rem .75rem;
    margin: 0rem .3rem;
}
.page-link {
    color: $color-main2;
    background-color: $color-font2;
}
.page-item.active .page-link {
    color: $color-font2;
    background-color: $color-main2;
}
/* -------------------------------------
    BUTTONS
------------------------------------- */
@mixin my-btn($my-color) {
  color: $color-font2;
  background-color: $my-color;
  border-color: $my-color;
  padding: 6px 14px;
  &:hover, &:focus {
      background-color: darken($my-color, 20%);
      border-color: darken($my-color, 20%);
      color: $color-font2;
  }
}
.btn-main2 {
  @include my-btn($color-main2);
}
.btn-danger2 {
  @include my-btn($color-danger2);
}
.btn-extra2 {
  @include my-btn($color-extra2);
}
.btn-warning2 {
  @include my-btn($color-warning2);
}
.btn-info2 {
  @include my-btn($color-info2);
}
.btn-success2 {
  @include my-btn($color-success2);
}
.btn-secondary2 {
  @include my-btn($color-secondary2);
}
/* -------------------------------------
    BACKGROUND
------------------------------------- */
@mixin my-bg($my-color) {
  background-color: $color-main2;
}
.bg-main2 {
  @include my-bg($color-main2);
}
.bg-warning2 {
  @include my-bg($color-warning2);
}
.bg-danger2 {
  @include my-bg($color-danger2);
}
.bg-extra2 {
  @include my-bg($color-extra2);
}
.bg-success2 {
  @include my-bg($color-success2);
}
.bg-info2 {
  @include my-bg($color-info2);
}
/* -------------------------------------
  FORM
------------------------------------- */
.tab-content {
  margin-top: .5rem;
}
.requiredfield {
  color: red;
}
.requiredfield::after {
    content: "*";
    color: red;
}
.display-detail {
  margin-left: 1rem;
  margin-right: 1rem;
}
.form-input {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .75rem;
  background-color: #e9ecef;
}
.form-input:empty
{
    padding: 1rem;
}
/* -------------------------------------
  MSG APP
------------------------------------- */
.btn-prev-next {
  width: 2.75rem;
  height: 2.75rem;
  margin: 0.25rem;
  padding: 0.5rem;
}
.msg-draft {
  opacity: .5;
}
// @media screen and (max-width: 576px) {
// 	.summary-txt {
// 	  display: inline-block;
// 	}
// }

/* -------------------------------------
  IMAGES, LOGO, FIGURES
------------------------------------- */
img { 
  max-width: 100%;
  :not#banner {
    border-radius: .25rem; 
  }
}
figure { 
  border: solid thin #666;
  text-align:center;
  align-items: center;
  border-radius: .25rem;
  padding: 10px;
  margin: 10px 20px;
  background-color: whitesmoke;
}
figcaption { 
  font-size: 12px; 
  line-height: 1.3; 
  font-style: italic; 
  text-align:center;
  padding: 0 10px;
  margin-top: 10px;
}
.img-left{
  float: left;
  // max-width: 50%;
  // height: auto;
  margin-right: 10px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.img-right{
  float: right;
  // max-width: 50%;
  // height: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}
.img-100{
  width: 100px;
  height: auto;
}
.img-200{
  width: 200px;
  height: auto;
}
.img-300{
  width: 300px;
  height: auto;
}
.img-400{
  width: 400px;
  height: auto;
}
.logo {
  margin: 5px;
}
/* BREADCRUMB */
.breadcrumb {
  margin: 0;
  font-size: small;
  padding: 0.5rem;
}
.banner-content {
  margin-bottom: 10px;
}
.breadcrumb:before {
  content: "Vous êtes ici:\2001";
  vertical-align: super !important;
}

/* -------------------------------------
    AGENDA
------------------------------------- */
// List view
.time-display {
  color: $color-main2;
  background-color: $color-font2;
  border-color: $color-warning2;
  border-width: thin;
  border-style: solid;
  border-radius: .25rem;
  border-color: $color-font1;
  padding: .5rem .5rem;
  // margin: 0rem .3rem;
}
.container-box-day {
  background: #6287a2;
  color: white;
  padding: .75em;
  width: 150px;
  height: 150px;
  text-align: center;
  margin-bottom: .5em;
  margin-right: 1em;
  p {
    margin: 5px 0px;
  }
}
.calendar-day {
  font-size: 50px;
  // font-weight: bold;
}
.hr-cp {
  border-top: solid 3px $color-main2;
  opacity: 1;
  margin-bottom: .5rem;
}
@media screen and (max-width: 576px) {
	.agenda-org {
	    display: none;
	}
	.partenaires {
    display: none;
  }  
}
