// Simple slider formating
.imgslider {
    margin: 0 10px;
    border-radius: .25em;
}
.carousel {
    position: relative;
    text-align: center;
    color: white;
}
%img-txt {
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    font-size: large;
    font-weight: bold;
    transform: translate(-50%, -50%);
}
.img-txt-up {
    @extend %img-txt;
}    
.img-txt-down {
    @extend %img-txt;
    font-size: small;
    top: 80%;
}
.carousel-cell a:hover {
    color: white;
    text-decoration:none;
}