/******
SIDEBAR
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidebar_responsive
https://bootstrapious.com/p/bootstrap-sidebar
*****/
#sidebar {
  min-width: 70px;
  max-width: 70px;
  min-height: 100vh;
  z-index: 99;
  position: fixed;
}
footer {
    margin-left: 70px;
}
@media screen and (max-width: 576px) {
    #sidebar {
        min-width: 42px;
        max-width: 42px;
    }
    #content {
        width: 100%;
        margin-left: 42px;
    }
    footer {
        margin-left: 42px;
    }
}
@media screen and (max-width: 380px) {
    #sidebar {
        min-width: 0px;
        max-width: 0px;
    }
    #content {
        width: 100%;
        margin-left: 0px;
    }
    footer {
        margin-left: 0px;
    }    
}
