$font-stack: Lato, sans-serif;
// $font-stack: Roboto, sans-serif;
$color-sidebar: #f1f1f1;
$color-font1: #03161d; // or #333
$color-font2: white;
$color-secondary2: #6c757d;
$color-vegemar: #009A3E;
$color-esc: #CAE9C0;
$color-fro: #FCE98C;
$color-cer: #D6C57C;
$color-esc-title: #7CCA62;
$color-fro-title: #FFCC00;
$color-cer-title: #B99113;


// https://colorpalettes.net/color-palette-2106/ (BEACH-SAND)
$color-main2: #6287a2;
$color-danger2: #ce8f5a;
$color-extra2: #CFB75B;
$color-warning2: #efd199;
$color-info2: #80c8bc;
$color-success2: #5ec0ca;

// à analyser https://coolors.co/869cd6

// $color-avert: lighten($color-danger2, 30%);
// $color-event: lighten($color-warning2, 30%);
// $color-comm: lighten($color-main2, 30%);

$color-avert: $color-danger2;
$color-comm: $color-main2;
$color-event: $color-success2;



// not used until now
$light-yellow: #fdedb4;
$light-orange: #fcd8cf;
$light-red: #F7D4D7;
$light-green: #d3f8e4;
$light-grey: #dee2e6;
$light-blue: #c7c0f2;
// $light-grey: #dee2e6;
