{% extends "base_cp.html" %}
{% load cms_tags %}

{% block extrastyle %}
{% endblock extrastyle %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        {% placeholder "header" %}
    </div>    
    <div class="col-md-3 col-sm-12">
        {% placeholder "toc" %}
    </div>
    <div class="col-md-9 col-sm-12">
        {% placeholder "content" %}
    </div>
</div>
{% endblock content %}