{% extends "base.html" %}
{% load static menu_tags menucp_tags csstags %}

{% block extrastyle %}
{% endblock extrastyle %}

{% block cpmenu %}
{% if 'cp' in request.path %}
    {% get_cpname request.path as cp %}
    {% if cp|lookup:'code' != 'main' %}
        <nav class="navbar navbar-expand-md navbar-light bg-light" id="cp-nav-img">
            <div class="container-fluid">
                <a class="navbar-brand" href="/cp/{{ cp|lookup:'code' }}">
                    <img id="logo-cp" src="{{ cp|lookup:'logo' }}" width="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#detailMenu" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon bg-white text-dark"></span>
                </button>
                <div class="collapse navbar-collapse" id="detailMenu">
                    <ul class="navbar-nav">
                        {% show_menu 0 2 2 2 "menu/_menu_template.html" "cpcms" cp|lookup:'code' %}                    
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="https://www.wallonie.be/fr">
                                <img id="logo-wallonie" src="{% static 'img/logo/soutien-wallonie300x300.webp' %}" width="100" title="Wallonie">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}
{% endif %}
{% endblock cpmenu %}

{% comment %}
banner image set by cpmain.js with DOM ID #cp-nav-img
{% block banner %}
    {% if 'cp' in request.path %}
        <img id="banner" width="100%" src=""/>
    {% endif %}
{% endblock banner %}
{% endcomment %}
