{% extends 'base.html' %}
{% load static cms_tags %}

{% block title %}Accueil{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/dist/flickity.css' %}" media="screen">
{% endblock extrastyle %}

{% block content %}
    <div class="flex-container">
        {% placeholder "Header" %}
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-md-12 d-grid">
            <a href="#msg-list-home" class="btn btn-main2 mb-2">Derniers messages</a>
        </div>
        <div class="col-lg-6 col-md-12 d-grid">
            <a href="#event-list-home" class="btn btn-main2 mb-2">Agenda</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            {% placeholder "Messages" %}
        </div>
        <div class="col-lg-6 col-md-12">
            {% placeholder "Agenda" %}
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{block.super}}
    <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
{% endblock js %}