{% extends 'base.html' %}
{% load static csstags thumbnail sekizai_tags %}

{% block title %}Accueil{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/external/flickity.css' %}" media="screen">
{% endblock extrastyle %}


{% block content %}
<h2>Bienvenue sur la plateforme des productions végétales de Wallonie</h2>
<h4>Actualité des 4 dernières semaines</h4>

<div class="row">    
    <div class="col-lg-9 col-md-12" style="text-align: justify;">
    <!-- https://flickity.metafizzy.co/ -->
    <div class="carousel" data-flickity='{ "groupCells": true, "imagesLoaded": true}'>
        {% for msg in msg_list %}
            <!-- The slideshow -->
            <div class="carousel-cell">
                <!-- <picture>
                    <source media="(max-width: 660px)" srcset="{{ msg.summary_img.thumbnails|lookup:'admin_sidebar_preview' }}">
                    <source media="(max-width: 860px)" srcset="{{msg.get_img300}}"> -->
                <img width="400px" class="imgslider" src="{{msg.get_img300}}" alt="{{msg.title}}">
                <a href="{% url 'msg:msg_consult' msg.id %}" class="img-txt-up btn btn-main2">{{ msg.get_title }}</a>
                <a href="{% url 'msg:msg_consult' msg.id %}" class="img-txt-down btn btn-info2">{{ msg.title }}</a>
                <!-- </picture> -->
                <!-- <img src="{{ msg.summary_img.thumbnails|lookup:'admin_sidebar_preview' }}" alt="{{msg.title}}"> -->
            </div>
        {% endfor %}
    </div>
    </div>
</div>
<br><br>
<div class="row"> 
    <div class="col-lg-9 col-md-12">
        <div class="grey-box">
        <p>Les avertissements sont un <strong>service gratuit</strong> proposé au monde agricole.</p>
        <p>Pour les recevoir par email dès leur publication, il faut <a href="{% url 'signup' %}" class="btn btn-outline-secondary me-2">s'inscrire</a> et cocher les listes d'envois qui vous intéressent.</p>
        <p>Selon les périodes pertinentes (risques ravageurs), les avertissements Céréales et/ou Colza sont envoyés <strong>tous les mardi</strong> en début d’après-midi.</p>
        </div>
    </div>
</div>


{% include "_accueil_txt.html" %}

{% endblock content %}

{% block js %}
    {{block.super}}
    <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
{% endblock js %}