{% load i18n csstags %}
<!-- working example -->
<!-- https://stackoverflow.com/questions/67293990/bootstrap5-0-tabs-not-working-when-i-click-on-them-different-tab-information-sh -->

<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="#nav-ident" role="tab" data-bs-toggle="tab">Identification</a></li>
    <li class="nav-item"><a class="nav-link" href="#nav-contact" role="tab" data-bs-toggle="tab">Contact</a></li>
    <li class="nav-item"><a class="nav-link" href="#nav-entr" role="tab" data-bs-toggle="tab">Entreprise</a></li>
    {% if user.is_manager %}
    <li class="nav-item"><a class="nav-link" href="#nav-gestion" role="tab" data-bs-toggle="tab">Gestion</a></li>
    {% endif %}
</ul>
  
<div class="form-horizontal">
<div class="tab-content">
    <!-- Identification -->
    <div role="tabpanel" id="nav-ident" class="tab-pane active" >
    {% if profile.first_name %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label requiredfield">{% trans "Prénom" %}</div>
        <div class="col-sm-9 form-input">{{ profile.first_name }}</div>
        </div>
    {% endif %}
    {% if profile.last_name %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label requiredfield">{% trans "Nom" %}</div>
        <div class="col-sm-9 form-input">{{ profile.last_name|upper }}</div>
        </div>
    {% endif %}
    {% if profile.email and not hide_email %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label requiredfield">{% trans "Email" %}</div>
        <div class="col-sm-9 form-input"><a href="mailto:{{ profile.email }}?Subject=Centre Pilote" target="_top">{{ profile.email }}</a></div>
        </div>
    {% endif %}
    </div>

    <!-- Contact -->
    <div role="tabpanel" id="nav-contact" class="tab-pane" >
    {% if profile.mobile %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label">{% get_verbose_field_name profile "mobile" %}</div>
        <div class="col-sm-9 form-input">{{ profile.mobile }}</div>
        </div>
    {% endif %}
    {% if profile.phone %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label">{% get_verbose_field_name profile "phone" %}</div>
        <div class="col-sm-9 form-input">{{ profile.phone }}</div>
        </div>
    {% endif %}
    {% if profile.street %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label">{% get_verbose_field_name profile "street" %}</div>
        <div class="col-sm-9 form-input">{{ profile.street }}</div>
        </div>
    {% endif %}
    {% if profile.zip %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label requiredfield">{% get_verbose_field_name profile "zip" %}</div>
        <div class="col-sm-9 form-input">{{ profile.zip }}</div>
        </div>
    {% endif %}
    </div>

    <!-- Entreprise -->
    <div role="tabpanel" id="nav-entr" class="tab-pane" >
    {% if profile.company %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label requiredfield">{% get_verbose_field_name profile "company" %}</div>
        <div class="col-sm-9 form-input">{{ profile.company }}</div>
        </div>
    {% endif %}
    {% if profile.profession %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label">{% get_verbose_field_name profile "profession" %}</div>
        <div class="col-sm-9 form-input">{{ profile.profession }}</div>
        </div>
    {% endif %}
    {% if profile.jobdesc %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label">{% get_verbose_field_name profile "jobdesc" %}</div>
        <div class="col-sm-9 form-input">{{ profile.jobdesc }}</div>
        </div>
    {% endif %}      
    {% if profile.nr_producteur %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label">{% get_verbose_field_name profile "nr_producteur" %}</div>
        <div class="col-sm-9 form-input">{{ profile.nr_producteur }}</div>
        </div>
    {% endif %}
    {% if profile.modeprod %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label">{% get_verbose_field_name profile "modeprod" %}</div>
        <div class="col-sm-9 form-input">{{ profile.modeprod }}</div>
        </div>
    {% endif %}      
    </div>

    <!-- Gestion -->
    {% if user.is_manager %}
    <div role="tabpanel" id="nav-gestion" class="tab-pane">
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label">{% trans "Utilisateur validé?" %}</div>
        <div class="col-sm-9 form-input">{% if profile.is_active %} OUI  {% else %} NON {% endif %}</div>
        </div>
        {% if profile.manage_cp %}
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label">{% get_verbose_field_name profile "manage_cp" %}</div>
        <div class="col-sm-9 form-input">{{ profile.manage_cp }}</div>
        </div>
        {% endif %}
        {% if profile.work4_cp %}        
        <div class="mb-3 row">
        <div class="col-sm-3 col-form-label">{% get_verbose_field_name profile "work4_cp" %}</div>
        <div class="col-sm-9 form-input">{{ profile.work4_cp }}</div>
        </div>
        {% endif %}                  
    </div>
    {% endif %}

</div>
</div>