{% load i18n %}

{% if "del" in request.path %}
  <h4>{{ confirm_message }}</h4>
  <form action="" method="POST">{% csrf_token %}
      <input type="submit" class="btn btn-warning2" value="Oui" />
      <a class="btn btn-main2" href="{{ profile.get_absolute_url }}">{% trans "Non/Annuler" %}</a>
  </form>
{% else %}
  <div class="btn-group-vertical">
    <a class="btn btn-main2" href="{% url 'profile_update' profile.id %}"><i class="fas fa-pencil-alt me-2"></i>{% trans "Change" %}</a>
    <a class="btn btn-main2" href="{% url 'profile_delete' profile.id %}"><i class="far fa-trash-alt me-2"></i>{% trans "Delete" %}</a>
    <a class="btn btn-main2" href="{% url 'inscription_1_user' profile.id %}"><i class="fab fa-wpforms me-2"></i>{% trans "Inscriptions" %}</a>
    {% if user.id == profile.id %}
      <a class="btn btn-main2" href="{% url 'my_password_change' %}"><i class="fas fa-key me-2"></i>{% trans "Modifier mot de passe" %}</a>
    {% endif %}
    <a class="btn btn-main2 goBack" style="color: white;" href="/cp/"><i class="fas fa-arrow-circle-left me-2"></i>{% trans "Back" %}</a>
  </div>
{% endif %}