{% extends 'base_accounts.html' %}
{% load i18n sekizai_tags csstags static django_bootstrap5 %}

{% block extrastyle %}
    {{ form.media }}
{% endblock extrastyle %}

{% block content %}
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <button type="submit" class="btn btn-danger2">Enregistrer</button>
    <a href="{% url 'cp_detail' cp_pk %}" class="btn btn-main2">{% trans 'Annuler' %}</a>
</form>
<br/>
{% endblock content %}

