{% extends 'base_accounts.html' %}
{% load i18n csstags %}

{% block content_title %}
<h3>{% get_verbose_model_class_name object %} &raquo; {{ object.title }}</h3>
{% endblock content %}

{% block content %}

{% if object.contact_nom %}
<div class="mb-3 row">
    <div class="col-sm-2 col-form-label">{% trans "contact" %}</div>
    <div class="col-sm-8 form-input">{{ object.get_contact() }}</div>
</div>
{% endif %}
{% if object.mobile %}
<div class="mb-3 row">
    <div class="col-sm-2 col-form-label">{% get_verbose_field_name object "mobile" %}</div>
    <div class="col-sm-8 form-input">{{ object.mobile|default_if_none:"" }}</div>
</div>
{% endif %}
{% if object.phone %}
<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">{% get_verbose_field_name object "phone" %}</div>
  <div class="col-sm-8 form-input">{{ object.phone|default_if_none:"" }}</div>
</div>
{% endif %}
{% if object.street %}
<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">{% get_verbose_field_name object "street" %}</div>
  <div class="col-sm-8 form-input">{{ object.street|default_if_none:"" }}</div>
</div>
{% endif %}
{% if object.zip %}
<div class="mb-3 row">
  <div class="col-sm-2 col-form-label">{% get_verbose_field_name object "zip" %}</div>
  <div class="col-sm-8 form-input">{{ object.zip|default_if_none:"" }}</div>
</div>
{% endif %}
{% if object.logo %}
<div class="mb-3 row">
    <div class="col-sm-2 col-form-label">{% get_verbose_field_name object "logo" %}</div>
    <div class="col-sm-8"><img src="{{ object.logo.url }}"></img></div>
</div>
{% endif %}

<a class="btn btn-danger2" href="{% url 'cploc_update' object.id %}">Modifier</a>
<a class="btn btn-main2" href="{% url 'cp_detail' object.centrepilote_id %}">Retour</a>

{% endblock content %}
