{% extends 'base_accounts.html' %}
{% load i18n csstags static %}

{% block content %}  
    <h3>{% trans "Retrouvez ci-dessous les informations du menu 'à propos' " %}</h3>
    <p>Il s'agit respectivement des 'plugins' <span class="text-danger"><strong>CentrePilote Présentation, CentrePilote Équipe et CentrePilote Contact</strong></span></p>
    <p>Ces 'plugins' sont accessibles à la création d'une page lors d'un clic 
        sur le bouton <img src="{% static 'img/faq/cms-struct-display.png' %}" alt="cms-struct-display"> 
        situé tout en haut à droite de votre écran après avoir cliqué sur le bouton bleu 'modifier'
        <img src="{% static 'img/faq/cms-create-modify.png' %}" alt="cms-struct-display"> en haut à droite de votre écran.
    </p>
    
    <h2 class="text-danger"><strong>1. CentrePilote Présentation</strong></h2>
    {% include 'plugin/cp_presentation.html' %}
    <br>

    <h2 class="text-danger"><strong>2. CentrePilote Équipe</strong></h2>
    {% include 'plugin/cp_team.html' %}
    <br><br>

    <h2 class="text-danger"><strong>3. CentrePilote Contact</strong></h2>
    {% include 'plugin/cp_location.html' %}
    
{% endblock %}
