{% extends 'base_accounts.html' %}
{% load i18n csstags %}

{% block title %}
  {% trans 'CentrePilote Liste' %}
{% endblock %}

{% block content_title %}
  <h3>Centres Pilotes</h3>
{% endblock %}

{% block content %}
  <table class="table table-bordered">
  <thead class="thead-light">
      {% with object_list.all|first as obj %}
      <tr>
      <th>#</th>
      <th>{% get_verbose_field_name obj "nom" %}</th>
      <th>{% get_verbose_field_name obj "secteur" %}</th>
      <th>{% get_verbose_field_name obj "is_sending_msg" %}</th>
      </tr>
      {% endwith %}
  </thead>
  <tbody>
      {% for object in object_list %}
      <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="/cp/{{ object.code }}/">{{ object.nom }}</a></td>
          <td>{{ object.secteur }}</td>
          <td>{% if object.is_sending_msg %}OUI{% else %}NON{% endif %}</td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
{% endblock content %}
