{% extends 'base_accounts.html' %}
{% load i18n csstags static django_bootstrap5 %}

{% block extrastyle %}
    {{ form.media }}
    <style>
        .selector h2 {
            margin: 0;
            padding: 8px;
            font-weight: 400;
            font-size: 15px;
            text-align: left;
            background: #6287A2;
            color: white;
        }
    </style>    
{% endblock extrastyle %}

{% block content %}
<form action="" method="post" class="form" id="{{ form_html_id }}">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <button type="submit" class="btn btn-danger2"><i class="far fa-save me-2"></i>{% trans 'Enregistrer' %}</button>
    <a class="btn btn-main2" href="{% url 'listeenvoi_list' %}"><i class="fas fa-arrow-circle-left me-2"></i>{% trans 'Annuler' %}</a>
</form>
<br/>
{% endblock content %}