{% extends 'base_accounts.html' %}
{% load i18n csstags %}


{% block content %}
  <table id="listeenvoi_list" class="table table-bordered">
    <thead class="thead-light">
      {% with object_list.all|first as obj %}
      <tr>
        <th>{% get_verbose_field_name obj "nom" %}</th>
        <th>{% get_verbose_field_name obj "description" %}</th>
        <th>{% trans "Inscription" %}</th>
      </tr>
      {% endwith %}
    </thead>
  	<tbody>
      {% for object in object_list %}
        <tr>
          <td><a href="{{ object.get_absolute_url }}">{{ object.nom }}</a></td>
          <td>{{ object.description }}</td>
          <td><a class="btn btn-info2" href="{% url 'inscription_1_listeenvoi' object.id %}?inscrflag=OUI">{% trans "Inscription" %}</a></td>
        </tr>
      {% endfor %}
  	</tbody>
  </table>

  <a class="btn btn-main2" href="{% url 'listeenvoi_create' %}"><i class="fas fa-plus me-2"></i>{% trans "Ajouter" %}</a>
  <a class="btn btn-main2" href="{% url 'profile_detail' request.user.id %}"><i class="fas fa-arrow-circle-left me-2"></i>{% trans "Retour" %}</a>

{% endblock content %}