{% extends 'base_accounts.html' %}
{% load i18n csstags %}

{% block content %}
<div class="display-detail">
  <div class="mb-3 row">
    <div class="col-md-3 col-form-label">{% get_verbose_field_name object "nom" %}</div>
    <div class="col-md-9 form-input">{{ object.nom|default_if_none:"" }}</div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-3 col-form-label">{% get_verbose_field_name object "description" %}</div>
    <div class="col-md-9 form-input">{{ object.description|default_if_none:"" }}</div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-3 col-form-label">{% get_verbose_field_name object "partenaires" %}</div>
    <div class="col-md-9 form-input">{{ object.get_partenaires_list|safe }}</div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-3 col-form-label">{% get_verbose_field_name object "infotxt" %}</div>
    <div class="col-md-9 form-input">{{ object.infotxt|safe }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-form-label">{% get_verbose_field_name object "inscr_auto" %}</div>
    <div class="col-md-9 form-input">{% if object.inscr_auto %}OUI{% else %}NON{% endif %}</div>
  </div> 
</div>
<br>
{% if "del" in request.path %}
  <div>
    <br />
    <h5 class="text-danger">Supprimer cet enregistrement?</h5>
    <form action="" method="post">{% csrf_token %}
    <div class="buttonHolder">
        <input type="submit" class="btn btn-warning2" value="Oui" />
        <a href="{% url 'listeenvoi_detail' object.id %}" class="btn btn-main2">{% trans "Non/Annuler" %}</a>
    </div>
    </form>
  </div>
{% else %}
  {% if user.is_manager %}
  <a href="{% url 'listeenvoi_update' object.id %}" class="btn btn-main2"><i class="fas fa-pencil-alt me-2"></i>{% trans "Modifier" %}</a>
  <a href="{% url 'listeenvoi_delete' object.id %}" class="btn btn-main2"><i class="far fa-trash-alt me-2"></i>{% trans "Supprimer" %}</a>
  {% endif %}
  <a href="{% url 'listeenvoi_list' %}" class="btn btn-main2"><i class="fas fa-arrow-circle-left me-2"></i>{% trans "Retour" %}</a>
{% endif %}


{% endblock content %}
