{% extends 'base.html' %}
{% load static i18n csstags %}
{% block content %}



<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </div>
</nav>
  

<div class="tab-content" id="myTabContent">
    <!-- Identification -->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    {% if profile.first_name %}
        <div class="mb-3 row">
        <div class="col-sm-3"><span class="font-weight-bold">{% trans "Prénom" %}</span></div>
        <div class="col-sm-9">{{ profile.first_name }}</div>
        </div>
    {% endif %}
    {% if profile.last_name %}
        <div class="mb-3 row">
        <div class="col-sm-3"><span class="font-weight-bold">{% trans "Nom" %}</span></div>
        <div class="col-sm-9">{{ profile.last_name|upper }}</div>
        </div>
    {% endif %}
    {% if profile.email and not hide_email %}
        <div class="mb-3 row">
        <div class="col-sm-3"><span class="font-weight-bold">{% trans "Email" %}</span></div>
        <div class="col-sm-9"><a href="mailto:{{ profile.email }}?Subject=Centre Pilote" target="_top">{{ profile.email }}</a></div>
        </div>
    {% endif %}
    </div>

    <!-- Contact -->
    <div class="tab-pane fade show" id="nav-contact" role="tabpanel" aria-labelledby="contact-tab">
    {% if profile.mobile %}
        <div class="mb-3 row">
        <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name profile "mobile" %}</span></div>
        <div class="col-sm-9">{{ profile.mobile }}</div>
        </div>
    {% endif %}
    {% if profile.phone %}
        <div class="mb-3 row">
        <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name profile "phone" %}</span></div>
        <div class="col-sm-9">{{ profile.phone }}</div>
        </div>
    {% endif %}
    {% if profile.street %}
        <div class="mb-3 row">
        <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name profile "street" %}</span></div>
        <div class="col-sm-9">{{ profile.street }}</div>
        </div>
    {% endif %}
    {% if profile.zip %}
        <div class="mb-3 row">
        <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name profile "zip" %}</span></div>
        <div class="col-sm-9">{{ profile.zip }}</div>
        </div>
    {% endif %}
    </div>

</div>

{% endblock content %}

{% block js %}

<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="{% static 'js/cpmain.js' %}?reload=V21"></script>
{% endblock js %}