{% extends 'base_accounts.html' %}
{% load i18n csstags static django_bootstrap5 %}


{% block content %}
<form action="" method="post" class="form">
  {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
      <button type="submit" class="btn btn-danger2"><i class="far fa-save me-2"></i>{% trans 'Enregistrer' %}</button>
      {% if "add" in request.path %}
        <a class="btn btn-main2" href="/"><i class="fas fa-arrow-circle-left me-2"></i>{% trans 'Retour' %}</a>
      {% else %}
        <a class="btn btn-main2" href="{% url 'profile_detail' profile.id %}"><i class="fas fa-arrow-circle-left me-2"></i>{% trans 'Retour' %}</a>
      {% endif %}
</form>
<br/>
{% endblock content %}


{% block js %}
    {{block.super}}
    <script src="{% static 'js/load_ddl_accounts.js' %}?reload=V04"></script>
    <script src="{% static 'js/required_fields.js' %}"></script>
    <script>
    /*
    IF profession is agriculteur, arboriculteur or horticulteur (id 1, 2, 3)
    => Diplay modeprod & nr_producteur
    => Set modeprod & nr_producteur as required
    */
    var manage_user = "{{manage_user}}";
    // let work4_cp = $("#id_work4_cp").val();
    // if (work4_cp != '' | work4_cp != undefined) {
      // $("#id_company").prop("readonly", true);
      // $('#id_profession').prop("readonly", true); 
    // }
    changeProduction(); // call @ form init
    $('#id_profession').on('change', changeProduction);

    function changeProduction() {
      let profession = $("#id_profession").val();
      if (profession > 3 | profession == '') {
        $("#id_nr_producteur").hide();
        $("label[for=id_nr_producteur]").hide();
        // $("#hint_id_nr_producteur").hide();
        $("#id_modeprod").hide();
        $("label[for=id_modeprod]").hide();
        $("#id_modeprod").attr("required", false);

        $("#id_nr_producteur").attr("required", false);
        $("label[for=id_modeprod]").removeClass('requiredfield');
      } else {
        $("#id_nr_producteur").show();
        $("label[for=id_nr_producteur]").show();
        $("#id_modeprod").show();
        $("label[for=id_modeprod]").show();

        if (manage_user=="NO") {
          $("#id_modeprod").attr("required", true);
          $("label[for=id_modeprod]").addClass('requiredfield');
        }
      }
    }
  </script>
{% endblock js %}
