{% extends 'base_accounts.html' %}
{% load csstags %}

{% block content %}
<div class="row">
  <div class="col-3">
    {% include 'accounts/_profile_detail_buttons.html' %}
  </div>

  <div class="col-9">
    {% include 'accounts/_profile_detail.html' %}
  </div>
</div>
{% endblock content %}
