{% extends 'base_accounts.html' %}
{% load i18n csstags django_bootstrap5 %}

{% block content_title %}
<h3>{{ view.title }}</h3>
<div class="flex-container">
  {% include 'forms/listsearch_form.html' %}
  {% include 'forms/listsearch_counter.html' %}
</div>
{% endblock %}

{% block content %}
  {% if profile_list %}

  <table id="profile_list" class="table table-bordered">
    <thead class="thead-light">
      {% with profile_list.all|first as obj %}
      <tr>
        <th><a href="{{ request.get_full_path }}&sortBy=last_name">{% trans "Prénom NOM" %}</a></th>
        <th><a href="{{ request.get_full_path }}&sortBy=date_joined">{% get_verbose_field_name obj "date_joined" %}</a></th>
        <th><a href="{{ request.get_full_path }}&sortBy=last_login">{% get_verbose_field_name obj "last_login" %}</a></th>
        <th><a href="{{ request.get_full_path }}&sortBy=is_active">{% trans "Activé?" %}</a></th>
        <th><a href="{{ request.get_full_path }}&sortBy=email">{% trans "Email" %}</a></th>
        <th>{% get_verbose_field_name obj "email_confirmed" %}</th>
        <th><a href="{{ request.get_full_path }}&sortBy=company">{% get_verbose_field_name obj "company" %}</a></th>
        <th><a href="{{ request.get_full_path }}&sortBy=profile_list.zip">{% trans "Localité" %}</a></th>
      </tr>
      {% endwith %}
    </thead>
  	<tbody>
      {% for profile in profile_list %}
        <tr class="{%if not profile.is_active %}bg-light-red{% endif %}">
          <td><a href="{{ profile.get_absolute_url }}">{{ profile.get_full_name }}</a></td>
          <td>{{ profile.date_joined|date:"d/m/Y" }}</td>
          <td>{{ profile.last_login|date:"d/m/Y" }}</td>
          <td>
            <input type="checkbox" value="{{ profile.is_active }}" {% if profile.is_active %} checked {% endif %} disabled/>
          </td>
          <td><a href="mailto:{{ profile.email }}?subject=CentrePilote" target="_top">{{ profile.email }}</a></td>
          <td>
            <input type="checkbox" value="{{ profile.email_confirmed }}" {% if profile.email_confirmed %} checked {% endif %} disabled/>
          </td>
          <td>{{ profile.company|default_if_none:"" }}</td>
          <td>{{ profile.zip|default_if_none:"" }}</td>
          
        </tr>
      {% endfor %}
  	</tbody>
    </table>

  {% else %}
      <p>{% trans 'Aucun profil trouvé.' %}</p>
  {% endif %}

{% endblock content %}
