{% extends 'base_accounts.html' %}
{% load i18n csstags static %}

{% block content %}
<form id="form_inscription" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>{% trans "Centre Pilote" %}</th>
                <th>{% trans "Liste d'envoi" %}</th>
                <th>{% trans "Périodicité" %}</th>
                <th>{% trans "Inscrit?" %}</th>
                {% if request.user.is_manager %}
                <th>{% trans "Validé?" %}</th>
                {% endif %}
            </tr>
        </thead>
        
        {% for listeenvoi in listeenvois %}
            <tr>            
                <td>{{ listeenvoi.centrepilote }}</td>
                <td>{{ listeenvoi.nom }}</td>
                <td>{{ listeenvoi.description }}</td>
                <td>
                    <input type="checkbox" id="listeenvoi_{{ listeenvoi.id }}" name="listeenvoi" value="{{ listeenvoi.id }}" {% if listeenvoi.id == listeenvoi.listeenvoi_id %} checked {% endif %}/>
                </td>            
                {% if request.user.is_manager %}
                <td>
                    <input type="checkbox" id="listeenvoi_valid_{{ listeenvoi.id }}" name="listeenvoi_valid" value="{{ listeenvoi.id }}" {% if listeenvoi.is_valid %} checked {% endif %}/>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
            
    </table>
</form>


<a class="btn btn-main2" href="{{ myuser.get_absolute_url }}"><i class="fas fa-arrow-circle-left me-2"></i>{% trans "Back" %}</a>


{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
  <script src="{% static 'js/enableajaxindjango.js' %}"></script>
  <script>
    function inscription_update(user_id, user_checked, inscr_valid, listeenvoi_id) {
        // console.log(user_id + " checked: " + user_checked)
        $.ajax({
            url : "/ajax/inscription/upd",
            type : "POST",
            data : {
                'user_id' : user_id,
                'user_checked' : user_checked,
                'inscr_valid' : inscr_valid,
                'listeenvoi_id': listeenvoi_id
            },
            success : function (data) {
                console.log(data);
                // location.reload();
                // location.href = "/" + data.base_url + "/revenue/" + data.pk;
            },
            error : function (xhr) {
                console.log(xhr.status + ": " + xhr.responseText);
                location.reload();
            }
        });
    }      
    $(document).ready(function() {
        var url = window.location.pathname;
        var user_id = url.split("inscription/").pop();
        // var listeenvoi_id = listeenvoi.split("/inscription")[0];

        $('input[name=listeenvoi]').change(function() {
            // Get the clicked checkbox value using this
            var listeenvoi_id = $(this).val();
            if (this.checked) {
                $('#listeenvoi_valid_' + listeenvoi_id).prop("checked", true);
            } else {
                $('#listeenvoi_valid_' + listeenvoi_id).prop("checked", false);
            }
            inscription_update(user_id, this.checked, this.checked, listeenvoi_id);
        });
        $('input[name=listeenvoi_valid]').change(function() {
            // Get the clicked checkbox value using this
            var listeenvoi_id = $(this).val();
            if (this.checked) {
                $('#listeenvoi_' + listeenvoi_id).prop("checked", true);
            // } else { si décoche valid, il ne faut pas décocher l'inscription!
            //     $('#listeenvoi_' + listeenvoi_id).prop("checked", false);
            }
            var user_inscrit = $('#listeenvoi_' + listeenvoi_id).prop("checked");
            console.log(user_inscrit);
            inscription_update(user_id, user_inscrit, this.checked, listeenvoi_id);
        });        
    });
  </script>
{% endblock js %}