{% extends 'base_accounts.html' %}
{% load i18n csstags static django_bootstrap5 %}

{% block content_title %}
<div class="d-flex justify-content-between">
    <h3>{{ listeenvoi.get_title }}</h3>
    <div>
    <a class="btn btn-main2" href="{% url 'listeenvoi_list' %}"><i class="fas fa-arrow-circle-left me-2"></i>Retour</a>
    {% if 'ispopup' in request.GET %}
    <a class="btn btn-secondary" href="JavaScript:window.close();">Fermer</a>
    {% endif %}
    </div>
</div>
<br>
{% endblock content_title %}

{% block content %}
<table class="table table-bordered table-hover">
    <thead class="bg-main2">
    <form id="form_txtsearch" method="get">
        <tr class="bg-main2-light">
            <th colspan="2">
                <p>{% trans "Zone de recherche" %}
                <a class="btn btn-main2 ms-2" href="{{ request.path_info }}?dummy=">{% trans 'Réinitialiser' %}</a></p>
                <div>
                    <span class="page-counter">{{ nbrec_filter }}</span>
                    <span>utilisateurs sur</span>
                    <span class="page-counter">{{ nbrec_total }}</span>
                </div>
            </th>
            <th>{{ form.province }}</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="bg-main2-light">
            <th colspan="2">{{ form.txtsearch }}</th>
            <th>{{ form.zipsearch }}</th>
            <th>{{ form.profession }}</th>
            <th>{{ form.inscrflag }}</th>
            {% if request.user.is_manager %}
            <th>{{ form.validflag }}</th>
            {% endif %}
        </tr>
    </form>

        <tr>
            <th><a href="{{ request.get_full_path }}&sortBy=p.last_name">{% trans "Prénom NOM" %}</a></th>
            <th><a href="{{ request.get_full_path }}&sortBy=P.email">{% trans "Email" %}</a></th>
            <th><a href="{{ request.get_full_path }}&sortBy=zip_dispaly">{% trans "Localité" %}</a></th>
            <th><a href="{{ request.get_full_path }}&sortBy=f.description">{% trans "Profession" %}</a></th>
            <th>{% trans "Inscrit?" %}</th>
            <th>{% trans "Validé?" %}</th>
            {% comment %}
            <th><input class="me-2" type="checkbox" id="inscription_all"/> {% trans "Inscrit?" %}</th>
            {% if request.user.is_manager %}
            <th><input class="me-2" type="checkbox" id="valid_all"/>{% trans "Validé?" %}</th>
            {% endif %}
            {% endcomment %}
        </tr>
    </thead>
    <form id="form_inscription" method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <tbody>
    {% for profile in profiles %}
        <tr>
            <td><a href="{{ profile.get_absolute_url }}">{{ profile.full_name }}</a></td>
            <td><a href="mailto:{{ profile.email }}?subject=CentrePilote" target="_top">{{ profile.email }}</a></td>
            <td>{{ profile.zip_dispaly }}</td>
            <td>{{ profile.description }}</td>
            <td>
                <input type="checkbox" id="user_{{ profile.id }}" name="users" value="{{ profile.id }}" {% if profile.inscription_id %} checked {% endif %}/>
            </td>
            {% if request.user.is_manager %}
            <td>
                <input type="checkbox" id="inscription_valid_{{ profile.id }}" name="inscription_valid" value="{{ profile.id }}" {% if profile.inscr_valid %} checked {% endif %}/>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </form>
</table>

{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
  <script src="{% static 'js/txtsearch.js' %}"></script>
  <script src="{% static 'js/enableajaxindjango.js' %}"></script>
  <script>
    function inscription_update(user_id, user_checked, inscr_valid, listeenvoi_id) {
        // console.log(user_id + " checked: " + user_checked)
        $.ajax({
            url : "/ajax/inscription/upd",
            type : "POST",
            data : {
                'user_id' : user_id,
                'user_checked' : user_checked,
                'inscr_valid' : inscr_valid,
                'listeenvoi_id': listeenvoi_id
            },
            success : function (data) {
                console.log(data);
                // location.reload();
                // location.href = "/" + data.base_url + "/revenue/" + data.pk;
            },
            error : function (xhr) {
                console.log(xhr.status + ": " + xhr.responseText);
                location.reload();
            }
        });
    }

    function inscription_block_create(user_id_list, action, listeenvoi_id, what) {
        $.ajax({
            url : "/ajax/inscription_block/create",
            type : "POST",
            data : {
                'user_id_list' : user_id_list,
                'listeenvoi_id': listeenvoi_id,
                'action' : action,
                'what': what
            },
            success : function (data) {
                console.log(data);
            },
            error : function (xhr) {
                console.log(xhr.status + ": " + xhr.responseText);
                location.reload();
            }
        });
    }

    $(document).ready(function() {
        var url = window.location.pathname;
        var listeenvoi = url.split("listeenvoi/").pop();
        var listeenvoi_id = listeenvoi.split("/inscription")[0];

        $('input[name=users]').change(function() {
            // Get the clicked checkbox value using this
            var user_id = $(this).val();
            if (this.checked) {
                $('#inscription_valid_' + user_id).prop("checked", true);
            } else {
                $('#inscription_valid_' + user_id).prop("checked", false);
            }
            inscription_update(user_id, this.checked, this.checked, listeenvoi_id);
        });

        $('input[name=inscription_valid]').change(function() {
            // Get the clicked checkbox value using this
            var user_id = $(this).val();
            if (this.checked) {
                $('#user_' + user_id).prop("checked", true);
            }
            var user_inscrit = $('#user_' + user_id).prop("checked");
            inscription_update(user_id, user_inscrit, this.checked, listeenvoi_id);
        });

        $('#inscription_all').change(function() {
            var user_id_list = [];
            // var some_users_checked = false;
            if (this.checked) {
                $('#valid_all').prop("checked", true);
                $("input[name=users]").each(function () {
                    // if ($(this).prop("checked")){
                    //     some_users_checked = true;
                    // }
                    $(this).prop("checked", true);
                    user_id_list.push($(this).val());
                });
                $("input[name=inscription_valid]").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $('#valid_all').prop("checked", false);
                $("input[name=users]").each(function () {
                    $(this).prop("checked", false);
                    user_id_list.push($(this).val());
                });
                $("input[name=inscription_valid]").each(function () {
                    $(this).prop("checked", false);
                });
            }
            // if (!some_users_checked) {
            inscription_block_create(user_id_list, this.checked, listeenvoi_id, "inscription");
            // }
        });

        $('#valid_all').change(function() {
            var user_id_list = [];
            // var some_users_checked = false;
            if (this.checked) {
                $("input[name=inscription_valid]").each(function () {
                    // if ($(this).prop("checked")){
                    //     some_users_checked = true;
                    // }
                    $(this).prop("checked", true);
                    user_id_list.push($(this).val());
                });
            } else {
                $("input[name=inscription_valid]").each(function () {
                    $(this).prop("checked", false);
                    user_id_list.push($(this).val());
                });
            }
            inscription_block_create(user_id_list, this.checked, listeenvoi_id, "validation");
        });
    });
  </script>
{% endblock js %}
