<p style="text-align: justify; margin-bottom: 13px;"><span style="font-size: 11pt;"><span style="line-height: 115%;"><span style="">Après un mois d’avril particulièrement froid et sec, les conditions météo marquent la culture de colza d’hiver, malgré un bon ensoleillement.  Les températures sont encore trop basses, dépassant rarement 15°C.  Le gel nocturne, fréquent en avril, est encore présent en ce début du mois de mai.</span></span></span></p>

<p style="text-align: justify; margin-bottom: 13px;"><span style="font-size: 11pt;"><span style="line-height: 115%;"><span style="">La taille du colza d’hiver et la production de biomasse sont plus faibles que la normale.  Les sols sont toujours froids et desséchés par le vent du N-NE.  La floraison qui a démarré il y a quelques semaines pour les variétés les plus précoces, continue au ralenti.  Elle se fait attendre pour les variétés tardives qui présentent les premières fleurs.  Les différences variétales sont bien visibles.</span></span></span></p>
<cms-plugin alt="Image - différence de précocité.jpg " title="Image - différence de précocité.jpg" id="746"></cms-plugin>

<p style="text-align: justify; margin-bottom: 13px;"> </p>

<p style="text-align: justify; margin-bottom: 13px;"><span style="font-size: 11pt;"><span style="line-height: 115%;"><span style="">On trouve actuellement des boutons avortés et de nombreuses petites siliques jaunes qui traduisent des conditions stressantes pour les plantes.</span></span></span></p>

<p style="text-align: justify; margin-bottom: 13px;"> </p>
<cms-plugin alt="Image - siliques jaunes du au froid.jpg " title="Image - siliques jaunes du au froid.jpg" id="755"></cms-plugin>

<p style="text-align: justify; margin-bottom: 13px;"><span style="font-size: 11pt;"><span style="line-height: 115%;"><span style="">Pour assurer une bonne fécondation, il faudra compter sur les pluies annoncées prochainement et la remontée des températures en fin de semaine pour que la floraison s’accélère et que les insectes pollinisateurs puissent butiner le colza d’hiver.</span></span></span></p>

<p style="text-align: justify; margin-bottom: 13px;"><span style="font-size: 11pt;"><span style="line-height: 115%;"><span style="">Les ramifications secondaires ne se développeront et les compensations ne pourront avoir lieu que si la plante est bien alimentée en eau.</span></span></span></p>

<p style="text-align: justify; margin-bottom: 13px;"><span style="font-size: 11pt;"><span style="line-height: 115%;"><span style="">Côté insectes ravageurs, les méligèthes sont toujours piégés et présents dans les plantes, mais en nombre réduit (en moyenne, inférieur à 1 méligèthe par plante dans 25 champs sur 31 suivis ce lundi 3 mai 2021; 3 champs comptent une présence de 2 à 6 méligèthes par plante). Ils ne représentent plus de danger dans une culture en fleur.</span></span></span></p>

<p style="text-align: justify; margin-bottom: 13px;"><span style="font-size: 11pt;"><span style="line-height: 115%;"><span style="">Les charançons des siliques ont été repérés dans 20 champs sur 31, en progression par rapport à la semaine précédente. Leur présence est encore très faible : de 1 à 4 individus pour 40 plantes.  Ces insectes sont à surveiller de près pendant la floraison, surtout lorsque les températures vont remonter et favoriser les vols d’insectes.  Les siliques les plus sensibles sont celles ayant une longueur comprise entre 2 et 4 cm.  L’arrivée de ces insectes est repérée en bordure de parcelles.  Le prochain weekend avec de très bonnes températures annoncées, sera donc à surveiller.</span></span></span></p>
<cms-plugin alt="Image - ch.des siliques - Copie.jpg " title="Image - ch.des siliques - Copie.jpg" id="745"></cms-plugin>

<p style="margin-left: 142px; text-indent: 35.4pt;"> </p>

<p style="margin-left: 142px; text-indent: 35.4pt;"> </p>

<p style="margin-left: 142px; text-indent: 35.4pt;"><span style="font-size: 11pt;"><span style="line-height: normal;"><span style="">Christine Cartrysse, Centre Pilote CePiCOP</span></span></span></p>