{% load thumbnail csstags %}
<h4 style="margin-top: 50px;">Origine</h4>
<div class="row">    
<div class="col-lg-9 col-md-12">
    <!-- Block text1 -->
    <div style="text-align: justify;">
        <p>La <a href="https://www.wallonie.be/fr" target="_blank">Wallonie</a> subsidie de nombreuses structures qui viennent en aide aux producteurs (agriculteurs et horticulteurs) pour des th&eacute;matiques tr&egrave;s diverses, allant de la logistique aux conseils techniques propres &agrave; un secteur particulier. Le sch&eacute;ma suivant illustre la diversit&eacute; des structures mises &agrave; votre disposition pour vous aider dans votre travail&nbsp;:</p>
        
        <picture>
            <source media="(max-width: 230px)" srcset="{{ cp_master_schema.thumbnails|lookup:'admin_sidebar_preview' }}">
            <source media="(max-width: 430px)" srcset="{% thumbnail cp_master_schema.file 300x225 crop %}">
            <source media="(max-width: 630px)" srcset="{% thumbnail cp_master_schema.file 400x300 crop %}">
            <source media="(max-width: 1050px)" srcset="{% thumbnail cp_master_schema.file 600x450 crop %}">
            <source media="(max-width: 1250px)" srcset="{% thumbnail cp_master_schema.file 800x600 crop %}">
            <img style="margin-bottom: 20px;" src="{% thumbnail cp_master_schema.file 1000x750 crop %}" alt="master_schema">
        </picture>
        <p>Le choix de la r&eacute;alisation ou non d&rsquo;un traitement, de la meilleure date de r&eacute;colte et plus g&eacute;n&eacute;ralement des strat&eacute;gies phytotechniques les plus ad&eacute;quates &agrave; mettre en place sont des d&eacute;cisions bien souvent difficiles &agrave; prendre pour les producteurs.</p>
        <p>Pour vous aider dans cette prise de d&eacute;cisions, seize structures sont agr&eacute;&eacute;es comme &laquo;&nbsp;centres pilotes&nbsp;&raquo; afin de vous fournir un service complet de d&eacute;veloppement et de vulgarisation. Parmi leurs missions, les centres pilotes ont d&eacute;velopp&eacute;, en collaboration avec de nombreux partenaires techniques, des avertissements <strong>neutres</strong> qui sont rassembl&eacute;s sur la pr&eacute;sente plateforme.</p>
        <p><strong>Un avertissement est</strong> un message bref, vous donnant des informations utiles dans la conduite de vos cultures, en fonction de la situation du moment (stade et &eacute;tat de la culture, vari&eacute;t&eacute;s, pression des organismes nuisibles, conditions et pr&eacute;visions m&eacute;t&eacute;orologiques, etc.). Il peut s&rsquo;agir d&rsquo;alertes &eacute;ventuellement assorties de conseils de traitements, de rappels, ou de suggestions. Ils constituent un ensemble couvrant r&eacute;guli&egrave;rement les p&eacute;riodes pertinentes. Les mod&egrave;les et les grilles de d&eacute;cision utilis&eacute;s pour la r&eacute;alisation des avertissements sont r&eacute;guli&egrave;rement valid&eacute;s par des observations et des essais r&eacute;alis&eacute;s par des experts r&eacute;guli&egrave;rement sur le terrain.</p>
        <p>Diffus&eacute;s tout au long de la saison, les avertissements mettent &agrave; votre disposition l&#39;avis concert&eacute; d&#39;experts publics notamment quant &agrave; l&#39;int&eacute;r&ecirc;t ou non de mener une intervention dans chacun des secteurs repr&eacute;sent&eacute;s par les centres pilotes et ce dans le cadre d&#39;une mise en pratique des principes de la lutte int&eacute;gr&eacute;e. Ces experts tentent donc de trouver le meilleur compromis pour assurer le contr&ocirc;le des maladies et des ravageurs dans les cultures.</p>
        <p>L&#39;avertissement est donc un v&eacute;ritable <strong>outil d&#39;aide &agrave; la d&eacute;cision</strong> pour les producteurs.</p>
        <p>Il a pour objectif de r&eacute;duire l&#39;usage des moyens de lutte, chimiques pour l&#39;essentiel, &agrave; ce qui est strictement n&eacute;cessaire en vous informant (par e-mail, sms, fax ou en consultant cette plateforme) de l&#39;importance du risque de pr&eacute;sence dans vos parcelles de ravageurs ou de maladies particuli&egrave;rement dommageables. Vous pourrez ensuite, apr&egrave;s avoir visit&eacute; attentivement vos propres parcelles, d&eacute;cider d&#39;intervenir ou non en connaissance d&#39;effet et de cause.</p>
        <p>Ils assurent ainsi la protection de vos cultures sans d&eacute;penses excessives d&#39;intrants.</p>
        <p>Pour les grandes cultures, les avertissements donnent une situation g&eacute;n&eacute;rale sur l&#39;ensemble de la zone de production. L&#39;&eacute;tendue de cette zone est telle que les observations sont r&eacute;alis&eacute;es par un r&eacute;seau d&#39;observateurs form&eacute;s sp&eacute;cialement &agrave; cet effet.</p>
        <p>Pour les cultures plus sp&eacute;cifiques telles que les l&eacute;gumes industriels, un suivi personnalis&eacute; des parcelles du producteur est n&eacute;cessaire. Contrairement aux grandes cultures, les avertissements reprennent dans ce cas la situation de chaque parcelle suivie, avec avis de traitement si n&eacute;cessaire.</p>
    </div>
</div>
</div>

<div class="row">
<div class="col-lg-9 col-md-12">
    <p><strong>Avertissements actuellement disponibles:</strong></p>
    <table align="center" class="table table-striped" height="696" style="width: 100%;">
        
        <thead>
            <tr>
                <th scope="col">Culture</th>
                <th scope="col">Avertissement</th>
                <th scope="col">Structure</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Arboriculture fruiti&egrave;re</td>
                <td>G&eacute;n&eacute;raux (maladies et ravageurs)</td>
                <td>Profruit (PCFruit)</td>
            </tr>
            <tr>
                <td>Arboriculture fruiti&egrave;re</td>
                <td>Techniques (conventionnel)</td>
                <td>CEF</td>
            </tr>
            <tr>
                <td>Arboriculture fruiti&egrave;re</td>
                <td>Production int&eacute;gr&eacute;e</td>
                <td>GAWI</td>
            </tr>
            <tr>
                <td>Betterave</td>
                <td>Maladies, ravageurs</td>
                <td>IRBAB</td>
            </tr>
            <tr>
                <td>Carotte industrielle</td>
                <td>Maladies, ravageurs</td>
                <td>CPL V&eacute;g&eacute;mar</td>
            </tr>
            <tr>
                <td>C&eacute;r&eacute;ales</td>
                <td>Maladies, ravageurs et phytotechnie</td>
                <td>CEPICOP</td>
            </tr>
            <tr>
                <td>Chicor&eacute;e</td>
                <td>Maladies, ravageurs</td>
                <td>IRBAB</td>
            </tr>
            <tr>
                <td>Chou de Bruxelles</td>
                <td>Ravageurs</td>
                <td>CPL V&eacute;g&eacute;mar</td>
            </tr>
            <tr>
                <td>F&egrave;ve des marais</td>
                <td>Ravageurs (bruche et pucerons)</td>
                <td>CPL V&eacute;g&eacute;mar</td>
            </tr>
            <tr>
                <td>Floriculture</td>
                <td>Maladies (dont rouille du Chrysant&egrave;me), ravageurs</td>
                <td>CEHW</td>
            </tr>
            <tr>
                <td>Fraises et petit fruits</td>
                <td>Maladies, ravageurs</td>
                <td>GFW</td>
            </tr>
            <tr>
                <td>Ma&iuml;s</td>
                <td>Pucerons</td>
                <td>CPM</td>
            </tr>
            <tr>
                <td>Ma&iuml;s fourrage</td>
                <td>Date de r&eacute;colte</td>
                <td>CPL V&eacute;g&eacute;mar</td>
            </tr>
            <tr>
                <td>Ma&iuml;s grain</td>
                <td>Date de r&eacute;colte</td>
                <td>CIPF</td>
            </tr>
            <tr>
                <td>Mara&icirc;chage</td>
                <td>Maladies, ravageurs</td>
                <td>CIM</td>
            </tr>
            <tr>
                <td>Ol&eacute;o-prot&eacute;agineux</td>
                <td>Ravageurs</td>
                <td>CEPICOP</td>
            </tr>
            <tr>
                <td>Orges brassicoles</td>
                <td>Maladies, ravageurs et phytotechnie</td>
                <td>CEPICOP</td>
            </tr>
            <tr>
                <td>P&eacute;pini&egrave;res ornementales</td>
                <td>Maladies, ravageurs</td>
                <td>CEHW</td>
            </tr>
            <tr>
                <td>Pommes de terre</td>
                <td>Mildiou</td>
                <td>CARAH</td>
            </tr>
            <tr>
                <td>Pommes de terre</td>
                <td>Pucerons en culture de plants</td>
                <td>CRA-W</td>
            </tr>
            <tr>
                <td>Pommes de terre</td>
                <td>Pucerons en pomme de terre de consommation</td>
                <td>CARAH</td>
            </tr>
            <tr>
                <td>Sapin de No&euml;l</td>
                <td>Puceron lanig&egrave;re du sapin</td>
                <td>UAP</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
