{% extends 'base.html' %}
{% load static csstags thumbnail sekizai_tags %}

{% block title %}Accueil{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/dist/flickity.css' %}" media="screen">
{% endblock extrastyle %}


{% block content %}
<h2>Bienvenue sur la plateforme des productions végétales de Wallonie</h2>
<br><br>
<div class="row"> 
    <div class="col-lg-9 col-md-12">
        <div class="grey-box">
        <p>Les avertissements sont un <strong>service gratuit</strong> proposé au monde agricole.</p>
        <p>Pour les recevoir par email dès leur publication, il faut <a href="{% url 'signup' %}" class="btn btn-outline-secondary me-2">s'inscrire</a> et cocher les listes d'envois qui vous intéressent.</p>
        <p>Selon les périodes pertinentes (risques ravageurs), les avertissements Céréales et/ou Colza sont envoyés <strong>tous les mardi</strong> en début d’après-midi.</p>
        </div>
    </div>
</div>


{% include "info/_accueil_txt.html" %}

{% endblock content %}

{% block js %}
    {{block.super}}
    <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
{% endblock js %}