{% extends 'base.html' %}
{% load static csstags menu_tags %}

{% block title %}Liens utiles{% endblock %}


{% block breadcrumb %}
{% show_breadcrumb 1 "menu/_breadcrumb_direct.html" 0 %}
{% endblock breadcrumb %}


{% block content %}
<div class="flex-container">
    {% include 'forms/listsearch_form.html' %}
    {% include 'forms/listsearch_counter.html' %}
</div>

{% for wl in object_list %}

    {% if wl.code != 'cpcollect' %}
    <div class="row">
        <div class="col-12">
                <hr class="hr-cp"/>
                <a href="{{wl.siteweb}}" target="_blank">
                    <img class="img-left img-fluid img-200" src="{{ wl.logo.url }}" alt="{{ wl.get_title }}">
                </a>
                <div class="text-justify container-text">
                    <a href="{{wl.siteweb}}" target="_blank" class="btn btn-main2 mb-2">{{wl.acronyme}}</a>
                    {{ wl.short_desc|safe }}
                </div>
        </div>
    </div>
    {% else %}
        
        <div class="row">
            <div class="col-12">
                    <hr class="hr-cp"/>
                    <a href="{{wl.siteweb}}" target="_blank">
                        <img class="img-left img-fluid img-200" src="{{ wl.logo.url }}" alt="{{ wl.get_title }}">
                    </a>
                    <div class="text-justify container-text">
                        <a href="{{wl.siteweb}}" target="_blank" class="btn btn-main2 mb-2">{{wl.acronyme}}</a>
                        {{ wl.short_desc|safe }}
                    </div>
            </div>
        </div>
        
    {% endif %}

{% endfor %}


{% endblock content %}

{% block js %}
{{ block.super }}
<script>
    function submitForm() {
        $("#listsearch_form").submit();
    }

    $(document).ready(function () {
        $("#id_domaine").on('change', submitForm);
    });
</script>
{% endblock js %}
