
<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">{{ object.get_title|safe }}</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>          
    </div>

    <div class="modal-body">
      <!-- bloc text -->
      <div class="row">
        <div class="col-sm-12">
          <img class="img-left img-fluid img-200" src="{{ object.logo.url }}" alt="{{ object.acronyme }}">
          <div class="container-text">{{ object.short_desc|safe }}</div>
        </div>
      </div>

      <!-- bloc contact -->
      <div class="row">
        <div class="col-sm-12">      
          <div class="flex-container-start"><!-- adresse -->
            <p class="me-2"><i class="far fa-envelope"></i></p>
            <div class="address">
                <div>
                    <p>{{object.rue|default_if_none:""}}</p>
                    <p>{{object.codepostal|default_if_none:""}}</p>
                </div>
            </div>
          </div>

          <div><!-- email & phone -->
            {% if object.email %}
              <p><i class="fas fa-at me-2"></i><a href="mailto:{{object.email}}">{{object.email}}</a></p>
            {% endif %}
            {% if object.tel %}
                <p><i class="fas fa-phone-alt me-2"></i>{{object.tel}}</p>
            {% endif %}
          </div>
        </div>
      </div>

    </div><!-- end modal-body -->

    <div class="modal-footer">
      <button type="button" class="btn btn-main2" data-bs-dismiss="modal">Fermer</button>
    </div>

  </div>
</div>