{% extends 'base.html' %}
{% load static csstags menu_tags %}

{% block title %}Liens utiles{% endblock %}

{% block breadcrumb %}
{% show_breadcrumb 1 "menu/_breadcrumb_direct.html" 0 %}
{% endblock breadcrumb %}

{% block content %}
<div class="flex-container">
    {% include 'forms/listsearch_form.html' %}
    {% include 'forms/listsearch_counter.html' %}
</div>

<div class="flex-container">
    {% for wl in object_list %}
    <div class="container-box-white">      
        <hr class="hr-cp"/>
        <a href="#" id={{wl.id}} class="wl-detail">
            <h4>{{wl.acronyme}}<i class="ms-2 fas fa-info-circle"></i></h4>
        </a>
        <a href="{{wl.siteweb}}" target="_blank">
            <img class="img-fluid img-200" src={{wl.logo.url}} alt={{wl.get_title}}>
        </a>
    </div>  
    {% endfor %}
</div>

<div class="modal" id="WebLinkDetail"></div>

{% endblock content %}

{% block js %}
{{ block.super }}
<script>
    function submitForm() {
        $("#listsearch_form").submit();
    }

    function getID() {
        var wlid = $(this).attr('id');
        $.ajax({
            url: '{% url "info:weblink_detail" %}',
            data: {
                'wlid': wlid
            },
            success: function (data) {
                $("#WebLinkDetail").html(data);
                $("#WebLinkDetail").modal('show');
            }
        });
    }

    $(document).ready(function () {
        $("#id_domaine").on('change', submitForm);
        $(".wl-detail").on('click', getID); 
    }); 
</script>
{% endblock js %}

