
    <span class="text-success m-1">Amboise</span>
    <span class="text-danger m-1">Anapolis</span>
    <span class="text-danger m-1">Annecy</span>
    <span class="text-danger m-1">Antibes</span>
    <span class="text-danger m-1">Apostel</span>
    <span class="text-danger m-1">Avignon</span>
    <span class="text-danger m-1">Bennington</span>
    <span class="text-danger m-1">Bergamo</span>
    <span class="text-danger m-1">Campesino</span>
    <span class="text-danger m-1">Chevignon</span>
    <span class="text-success m-1">Childeric</span>
    <span class="text-success m-1">Crossway</span>
    <span class="text-danger m-1">Cubitus</span>
    <span class="text-danger m-1">Edgar</span>
    <span class="text-success m-1">Gleam</span>
    <span class="text-danger m-1">Graham</span>
    <span class="m-1">Hyking</span>
    <span class="text-success m-1">Hypocamp</span>
    <span class="text-success m-1">Imperator</span>
    <span class="text-danger m-1">Informer</span>
    <span class="text-success m-1">KWS Dorset</span>
    <span class="text-danger m-1">KWS Extase</span>
    <span class="text-success m-1">KWS Keitum</span>
    <span class="text-danger m-1">KWS Salix</span>
    <span class="text-success m-1">KWS Smart</span>
    <span class="text-danger m-1">KWS Talent</span>
    <span class="text-success m-1">LG Apollo</span>
    <span class="text-success m-1">LG Initial</span>
    <span class="text-danger m-1">LG Keramik</span>
    <span class="text-success m-1">LG Lunaris</span>
    <span class="text-success m-1">LG Skyscraper</span>
    <span class="text-success m-1">LG Spotlight</span>
    <span class="text-success m-1">LG Vertikal</span>
    <span class="text-danger m-1">Limabel</span>
    <span class="text-danger m-1">Mentor</span>
    <span class="text-danger m-1">Peter</span>
    <span class="text-danger m-1">Porthus</span>
    <span class="text-success m-1">Positiv</span>
    <span class="text-danger m-1">Ragnar</span>
    <span class="text-success m-1">RGT Clipso</span>
    <span class="text-success m-1">RGT Gravity</span>
    <span class="text-success m-1">RGT Lexio</span>
    <span class="text-danger m-1">RGT Reform</span>
    <span class="text-success m-1">RGT Volupto</span>
    <span class="text-success m-1">Safari</span>
    <span class="text-danger m-1">Solange CS</span>
    <span class="text-danger m-1">Sorbet CS</span>
    <span class="text-danger m-1">SU Ecusson</span>
    <span class="text-danger m-1">SU Trasco</span>
    <span class="text-danger m-1">Winner</span>
    <span class="text-danger m-1">WPB Bridge</span>
    <span class="text-danger m-1">WPB Calgary</span>

    