<p>Liste des vari&eacute;t&eacute;s et leur sensibilit&eacute; &agrave; la c&eacute;cidomyie orange du bl&eacute;.</p>
<table>
<tbody>
<tr>
<td>
<p><strong>Amboise</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>Anapolis</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Annecy</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Antibes</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Apostel</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Avignon</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Bennington</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Bergamo</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Campesino</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Chevignon</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Childeric</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>Crossway</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>Cubitus</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Edgar</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Gleam</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>Graham</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Hyking</strong></p>
</td>
<td>
<p>Semi-tol&eacute;rant</p>
</td>
</tr>
<tr>
<td>
<p><strong>Hypocamp</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>Imperator</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>Informer</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>KWS Dorset</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>KWS Extase</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>KWS Keitum</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>KWS Salix</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>KWS Smart</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>KWS Talent</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>LG Apollo</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>LG Initial</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>LG Keramik</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>LG Lunaris</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>LG Skyscraper</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>LG Spotlight</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>LG Vertikal</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>Limabel</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Mentor</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Peter</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Porthus</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Positiv</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>Ragnar</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>RGT Clipso</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>RGT Gravity</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>RGT Lexio</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>RGT Reform</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>RGT Volupto</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>Safari</strong></p>
</td>
<td>
<p>R&eacute;sistant</p>
</td>
</tr>
<tr>
<td>
<p><strong>Solange CS</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Sorbet CS</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>SU Ecusson</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>SU Trasco</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>Winner</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>WPB Bridge</strong></p>
</td>
<td>
<p>Sensible</p>
</td>
</tr>
<tr>
<td>
<p><strong>WPB Calgary</strong></p>
</td>
</tr>
</tbody>
</table>