<table>
	<tbody>
		<tr>
			<td class="bg-esc-title"><p>Escourgeon</p></td>
		</tr>
		<tr>
			<td class="bg-esc">
                <p>Il n&rsquo;y a d&eacute;sormais plus d&rsquo;observations dans notre r&eacute;seau pour cette saison (voir avis pr&eacute;c&eacute;dents pour les conseils).</p>
            </td>
		</tr>
		<tr>
			<td class="bg-fro-title"><p>Froment</p></td>
		</tr>
		<tr>
			<td class="bg-fro">
			<p><strong>Stades&nbsp;</strong>: Toutes les parcelles sont en &eacute;piaison, au-del&agrave; du stade BBCH51. Les parcelles les plus avanc&eacute;es sont en d&eacute;but floraison. Les feuilles maintenant observ&eacute;es sont les quatre derni&egrave;res feuilles d&eacute;finitives (F1, F2, F3 et F4) pour toutes les parcelles.</p>

			<p><strong>Maladies </strong>: La <strong>septoriose</strong> est pr&eacute;sente sur l&rsquo;ensemble des parcelles observ&eacute;es.</p>

			<p><strong>Les observations maladies en froment sont maintenant termin&eacute;es. </strong></p>

			<p><strong>Ravageurs&nbsp;: </strong>Des pucerons et des crioc&egrave;res sont observ&eacute;s, mais leurs populations sont faibles. Les temp&eacute;ratures estivales favorisent la sortie des ravageurs mais &eacute;galement celle de leurs auxiliaires.</p>
			</td>
		</tr>
		<tr>
			<td class="bg-cer-title"><p>C&eacute;r&eacute;ales de printemps</p></td>
		</tr>
		<tr>
			<td class="bg-cer">
			<p><strong>Stades&nbsp;</strong>: Toutes les parcelles sont en &eacute;piaison, au-del&agrave; du stade BBCH51. Les parcelles les plus avanc&eacute;es sont en d&eacute;but floraison. Les feuilles maintenant observ&eacute;es sont les quatre derni&egrave;res feuilles d&eacute;finitives (F1, F2, F3 et F4) pour toutes les parcelles.</p>

			<p><strong>Maladies </strong>: La <strong>septoriose</strong> est pr&eacute;sente sur l&rsquo;ensemble des parcelles observ&eacute;es.</p>

			<p><strong>Les observations maladies en froment sont maintenant termin&eacute;es. </strong></p>

			<p><strong>Ravageurs&nbsp;: </strong>Des pucerons et des crioc&egrave;res sont observ&eacute;s, mais leurs populations sont faibles. Les temp&eacute;ratures estivales favorisent la sortie des ravageurs mais &eacute;galement celle de leurs auxiliaires.</p>
			</td>
		</tr>
	</tbody>
</table>
