<div class="WordSection1">
    <h4 class="vegemar" style="margin-bottom: 4px;"><b>SUIVI MOUCHES DE LA CAROTTE, PUCERONS, RONGEURS ET MALADIES</b></h4>
    </div>
    
    <div>&nbsp;</div>
    
    <p>Depuis plusieurs ann&eacute;es, le CPL-VEGEMAR propose un syst&egrave;me d&#39;avertissement personnalis&eacute; en culture de carotte. D&#39;abord dirig&eacute; vers la mouche de la carotte, il s&#39;est ensuite &eacute;tendu &agrave; d&#39;autres ravageurs comme les pucerons, aux rongeurs et aux maladies.&nbsp;</p>
    
    <p><b>D&eacute;but des avertissements d&egrave;s la lev&eacute;e</b>&nbsp;: veuillez nous contacter pour signaler le semis d&#39;une parcelle.</p>
    
    <p><b>Fonctionnement des avertissements</b>&nbsp;:<b> </b>notre &eacute;quipe effectue des comptages, des observations et des relev&eacute;s chaque semaine. Ensuite, nous envoyons par mail un avis reprenant le r&eacute;sultat des relev&eacute;s, des comptages et des observations ainsi qu&#39;un conseil.</p>
    
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
        <p><cms-plugin alt="Image - Carotte 2.jpg " id="1013" render-plugin="true" title="Image - Carotte 2.jpg">
            <img alt="" class="img-left img-fluid" 
            src="/media/filer_public_thumbnails/filer_public/48/ae/48ae1833-10f8-4aee-9772-1e43eadb2a66/carotte_2.jpg__200x123_q85_subsampling-2.jpg" width="200" /> 
        </cms-plugin>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-9">           
        <b>Mouche de la carotte</b>&nbsp;: des pi&egrave;ges sont install&eacute;s afin d&#39;&eacute;valuer la pr&eacute;sence de la mouche de la carotte. Le seuil au-del&agrave; duquel un traitement est conseill&eacute; est de 2 mouches/5pi&egrave;ges/semaine ou 1 mouche/5 pi&egrave;ges durant deux semaines successives.</p>  
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">    
        <p><cms-plugin alt="Image - puceron.jpg " id="1014" render-plugin="true" title="Image - puceron.jpg">
            <img alt="" class="img-left img-fluid" 
            src="/media/filer_public_thumbnails/filer_public/07/d4/07d41654-77c1-40c2-8b0d-d591f1bd2f80/puceron.jpg__200x123_q85_subsampling-2.jpg" width="200" /> 
        </cms-plugin>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-9">           
        <b>Pucerons</b>&nbsp;: les carottes y sont sensibles de la lev&eacute;e au stade 4 feuilles. Un comptage est effectu&eacute; sur 50 plantes aux stades sensibles.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
        <p><cms-plugin alt="Image - rongeur.jpg " id="1015" render-plugin="true" title="Image - rongeur.jpg">
            <img alt="" class="img-left img-fluid" 
            src="/media/filer_public_thumbnails/filer_public/4a/3f/4a3ff24d-3908-47a9-a284-6e586c48fb4b/rongeur.jpg__200x123_q85_subsampling-2.jpg" width="200" /> 
        </cms-plugin>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-9">
        <b>Rongeurs&nbsp;</b>:<b> </b>5 pi&egrave;ges sont install&eacute;s par parcelle apr&egrave;s la moisson afin d&#39;&eacute;valuer la pr&eacute;sence de rongeurs.</p>
        </div>
    </div>
        
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
        <p><cms-plugin alt="Image - Maladie.png " id="1016" render-plugin="true" title="Image - Maladie.png">
            <img alt="" class="img-left img-fluid" 
            src="/media/filer_public_thumbnails/filer_public/42/4c/424cf4b2-b00f-4194-a47c-921ba16a7154/maladie.png__200x123_q85_subsampling-2.png" width="200" /> 
        </cms-plugin>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-9">    
        <b>Maladies</b>&nbsp;: observation globale de la parcelle pour les principales maladies (o&iuml;dium et alternariose).</p>
        </div>
    </div>
    
    <p><strong>Pour plus d&rsquo;informations sur les modalit&eacute;s pratiques et les tarifs, <a href="mailto:adrien.boufflette@provincedeliege.be?subject=Avertissement%20en%20carotte">contactez-nous!</a></strong></p>
    
    <p><b>Adrien Boufflette</b> - 04/279.66.55</p>
    