{% load i18n %}
<nav id="sidebar">
    <ul class="list-unstyled sidefixed">
        <li>
            <ul class="list-unstyled" id="menu_ref">
                <li>
                    <a href="/cp/cepicop/">
                    <img src="/media/filer_public/58/35/58350393-0fb2-453e-9c20-46e31b4463f8/cepicop300x300.jpg?reloadV44" class="border-bottom">
                    </a>
                </li>

                <li>
                    <a href="/cp/vegemar/">
                    <img src="/media/filer_public/de/4b/de4b5f98-cecc-4bfe-99c2-f3a0b64d9464/cplv300x300.jpg?reloadV44" class="border-bottom">
                    </a>
                </li>

                <li>
                    <a href="/cp/gfw/">
                    <img src="/media/filer_public/d4/a2/d4a2709e-fca4-4177-837e-55dd8f05422b/gfw300x300.jpg?reloadV44" class="border-bottom">
                    </a>
                </li>
                
                <li>
                    <a href="/cp/cepifruit/">
                    <img src="/media/filer_public/75/63/75638f9a-8ec2-4873-bc40-6171a9ec5f66/cepifruit300x300.jpg?reloadV44" class="border-bottom">
                    </a>
                </li>

                <li>
                    <a href="/cp/cipf/">
                    <img src="/media/filer_public/2e/c6/2ec68ae9-0682-4db7-95e6-fde0d6566894/cipf300x300.png?reloadV44" class="border-bottom">
                    </a>
                </li>

                <li>
                    <a href="/cp/cehw/">
                    <img src="/media/filer_public/e8/6e/e86e4124-2d56-4d53-9859-f787b139280d/cehw300x300.jpg?reloadV44" class="border-bottom">
                    </a>
                </li>

                <li>
                    <a href="/cp/cim/">
                    <img src="/media/filer_public/c3/97/c397df9f-616d-4adc-ad01-fb49ab541e8f/cim300x300.jpg?reloadV44" class="border-bottom">
                    </a>
                </li>

                <li>
                    <a href="/cp/fmieux/">
                    <img src="/media/filer_public/25/fa/25fadf9b-1ff2-4d6c-8e56-ceaa0f338ffb/fmieux300x300.jpg?reloadV44" class="border-bottom">
                    </a>
                </li>

                <li>
                    <a href="/cp/irbab/">
                    <img src="/media/filer_public/15/27/15272da4-7e47-43e2-afb8-466183dc9603/irbab300x300.jpg?reloadV44" class="border-bottom">
                    </a>
                </li>

                <li>
                    <a href="/cp/fiwap/">
                    <img src="/media/filer_public/16/da/16dad184-28b5-4950-8eb9-f8527e61f372/fiwap300x300.jpg?reloadV44" class="border-bottom">
                    </a>
                </li>

                <li>
                    <a href="/cp/uap/">
                    <img src="/media/filer_public/72/5b/725b5d34-4c40-4a4e-849a-1ac9661f49fb/uap300x300.jpg?reloadV44" class="border-bottom">
                    </a>
                </li>
            </ul>
        </li>       
    </ul>
</nav>