
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		{% for ance in ancestors %}
		<li class="breadcrumb-item">
			{% if not forloop.last %}
			<a href="{{ ance.get_absolute_url }}">{{ ance.get_menu_title }}</a>
			{% else %}
			<span class="active"></span>{{ ance.get_menu_title }}</span>
			{% endif %}
		</li>
		{% endfor %}
	</ol>
</nav>


