{% load menu_tags csstags %}

{% for child in children %}
	{% if child.children %}
		<li class="nav-item dropdown child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
			<a class="nav-link dropdown-toggle" href="#" id="{{child.title|cut:' '}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				{{ child.get_menu_title }}
			</a>
	{% else %}
		<li class="nav-item child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
			<a class="nav-link dropdown-item" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
				{{ child.get_menu_title }}
			</a>
	{% endif %}

		{% if child.children %}
		<ul class="dropdown-menu" aria-labelledby="{{child.title|cut:' '}}">
			{% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
		</ul>
		{% endif %}
	</li>
{% endfor %}


