{% load i18n cms_tags %}

<div class="d-flex justify-content-between">
    <h4>Détail avertissement <a href="{% url 'msg:msg_consult' msg.id %}">{{ msg.get_title_stamp_ext }}</a></h4>
    <p class="text-danger">{{msg.get_statut}}</p>
</div>
<div class="msgdet-{{ msgdet.categorie.code }}">
    <h5>
    <span class="pull-right"><i style="color: {{ msgdet.categorie.couleur }}" class="fas {{ msgdet.categorie.icone }}"></i></span>
        {{ msgdet.title }}
    </h5>
    {% if msg.display_placeholder %}
        {% render_placeholder msgdet.short_text2 %}
    {% else %}
        {{ msgdet.short_text|default_if_none:""|safe }}
    {% endif %}

    {% if "viewdetail" in request.path %}
        <a class="btn btn-main2 m-2" href="{% url 'msg:msg_consult' msg.id %}">{% trans 'Retour avertissement complet' %}</a>
    {% endif %}
</div>