{% load i18n static django_bootstrap5 %}
    {% if not "confirm" in request.path %}
        <div class="btn-group m-2">
            <a class="btn btn-secondary2 btn-prev-next" href="{% url 'msg:msg_consult' first.id %}"><i class="fas fa-step-backward"></i></a>
            <a class="btn btn-secondary2 btn-prev-next" href="{% url 'msg:msg_consult' prev.id %}"><i class="fas fa-caret-left"></i></a>
            <a class="btn btn-secondary2 btn-prev-next" href="{% url 'msg:msg_consult' next.id %}"><i class="fas fa-caret-right"></i></a>
            <a class="btn btn-secondary2 btn-prev-next" href="{% url 'msg:msg_consult' last.id %}"><i class="fas fa-step-forward"></i></a>
        </div>
        
        <div class="btn-group-vertical m-2">
            {% if request.user.is_manager and request.user.manage_cp == msg.centrepilote %}
                <a class="btn btn-main2" href="{% url 'msg:msg_upd' msg.id %}"><i class="fas fa-pencil-alt me-2"></i>{% trans 'Modifier' %}</a>
                <a class="btn btn-main2" href="{% url 'msg:msg_consult' msg.id %}?edit" id="modifier_detail_id"><i class="fas fa-edit me-2"></i>{% trans 'Modifier détail' %}</a>
                <a class="btn btn-main2" href="{% url 'msg:supprimer_confirm' msg.id %}"><i class="far fa-trash-alt me-2"></i>{% trans 'Supprimer' %}</a>
                <a class="btn btn-main2" href="{% url 'msg:copier_confirm' msg.id %}"><i class="far fa-copy me-2"></i>{% trans 'Copier' %}</a>
                {% if msg.statut == 'draft' %}
                    <a class="btn btn-main2" href="{% url 'msg:publier_confirm' msg.id %}"><i class="fas fa-share me-2"></i>{% trans 'Publier' %}</a>
                {% endif %}

                {% if msg.statut != 'envoye' %}         
                    <a class="btn btn-main2" href="{% url 'msg:envoyer_confirm' msg.id %}"><i class="fas fa-paper-plane me-2"></i>{% trans 'Envoyer' %}</a>
                {% endif %}
            {% endif %}
            <a class="btn btn-main2" href="{{ url_name_list }}"><i class="fas fa-arrow-circle-left me-2"></i>{% trans 'Retour' %}</a>
        </div>
       
    {% endif %}
