{% load i18n csstags %}
<div class="col-lg-12">
<form action="" method="get" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>  
        {{ form.non_field_errors }}
        {% for field in form %}
          {% if field.label != "Portrait" %}            
            <div class="mb-3 row ">
              <label for="{{ field.id }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
              <div class="col-sm-10">
                {{ field|addcss:"form-control" }}
                    {% if field.help_text %}
                        <span class= "alert-info">{{ field.help_text }}</span>              
                    {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class= "alert-danger">{{ error|escape }}</span>
                    {% endfor %}                    
                {% endif %}
              </div>
            </div>
          {% endif %}                                 
        {% endfor %}
    </fieldset> 

    <input class="btn btn-main2" type="submit" name="action" value="Chercher" />
    <a class="btn btn-main2" href="{{ request.path }}" role="button">Réinitialiser</a>
    <a class="btn btn-main2" href="/msg" role="button">{% trans "Recherche simple" %}</a>
    <label style="margin-left:15px;">Nombre d'enregistrements: {{ nb_records }}</label>
</form>
</div>