{% load i18n %}
<form action="" method="get" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label class="mb-3 col-sm-2">{% trans "Rechercher sur" %}:</label>
    <div class="mb-3 col-sm-10">
        {{ form.txtsearch }}

        <input class="btn btn-success2" type="submit" name="action" value="Chercher" />
        <a class="btn btn-main2" href="{{ request.path }}" role="button">Réinitialiser</a>
<!--         {% if "rechmult" in request.path %} -->
<!--             <a class="btn btn-info2" href="/msg" role="button">{% trans "Recherche simple" %}</a> -->
<!--         {% else %} -->
            <a class="btn btn-info2" href="{% url 'msg:rechmult' %}" role="button">{% trans "Recherche par filtres multiples" %}</a>
<!--         {% endif %} -->
    </div>
    
    <label class="col-sm-2">{% trans "Filtrer sur" %}:</label>
    <div class="col-sm-10">        
        {% for c in categmsg %}
            <input id="{{ c.code }}" type="submit" name="action" class="btn msgdetbg-{{ c.code }}" value="{{ c.nom }}" />
<!--             <i class="glyphicon {{ c.icone }}"></i> -->
        {% endfor %}
        <label style="margin-left:15px;">Nombre d'enregistrements: {{ nb_records }}</label>
    </div>
</form>


