{% load csstags %}


<div class="{% if object.statut == 'draft' %} msg-draft{% endif %}">
    <!-- line -->
    <hr class="hr-cp">
    <!-- title -->
    <div class="flex-container-start">
        <a href="{% url 'msg:msg_consult' object.id %}" class="btn btn-main2 m-1">
            {{ object.get_title }}
        </a>
        {% if object.statut != 'envoye' %}      
        <p class="m-1 text-danger"><b>{{ object.get_statut_display }}</b></p>
        {% endif %}
    </div>
    <!-- body -->
    <div class="flex-container-start grey-box">
        {% if object.summary_img %}
            <img id="summary-img" class="img-left img-fluid img-200" src="{{object.summary_img.url}}" alt="{{object.centrepilote}}">
        {% else %}
            <img id="summary-img" class="img-left img-fluid img-200" src="{{object.centrepilote.logo.url}}" alt="{{object.centrepilote}}">
        {% endif %}
        
        <div>
            {% if object.summary_txt %}
                {{ object.summary_txt|safe|truncatewords_html:50 }}
            {% else %}
                {% for i in object.msgdet_set.all %}
                <p class="text-{{ i.categorie.code }}">
                    <i class="fas {{ i.categorie.icone }} me-2"></i>{{ i.title }}
                </p>      
                {% endfor %}
            {% endif %}
        </div>
    </div>

</div>

    
