{% extends 'base_msg.html' %}
{% load sekizai_tags i18n csstags static django_bootstrap5 %}

{% block extrastyle %}
    {{ form.media }}
{% endblock extrastyle %}


{% block content_title %}<h3>{{ title }}</h3>{% endblock %}

{% block content %}

<form action="" method="post" class="form">
    <div class="my-2">
        <button type="submit" class="btn btn-danger2"><i class="far fa-save me-2"></i>{% trans 'Enregistrer' %}</button>
        {% if "new" in request.path %}
            <a class="btn btn-main2" href={{url_path_list}} role="button"><i class="fas fa-arrow-circle-left me-2"></i>{% trans 'Retour' %}</a>
        {% else %}
            <a class="btn btn-main2" href="{% url 'msg:msg_consult' msg_id %}" role="button"><i class="fas fa-arrow-circle-left me-2"></i>{% trans 'Retour' %}</a>
        {% endif %}
    </div>

    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}

    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}
    <table class="table">
    {% for frm in formset.forms %}
        {% if forloop.first %}
        <thead class="thead-light"><tr>
        {% for field in frm.visible_fields %}
        <th>{{ field.label|capfirst }}</th>
        {% endfor %}
        </tr></thead>
        {% endif %}
        <tbody>
        <tr>
        {% for field in frm %}
        <td>
            {{ field.errors.as_ul }}
            {{ field }}
        </td>
            {% if forloop.last %} {# id is the last field! #}
                {% if not field.value is None %}
                    <td><button id={{ field.value }} class="btn btn-danger2 delete-row">-</button></td>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    
    <div class="float-end my-2">
        <button type="submit" class="btn btn-danger2"><i class="far fa-save me-2"></i>{% trans 'Enregistrer' %}</button>
        {% if "new" in request.path %}
            <a class="btn btn-main2" href={{url_path_list}} role="button"><i class="fas fa-arrow-circle-left me-2"></i>{% trans 'Retour' %}</a>
        {% else %}
            <a class="btn btn-main2" href="{% url 'msg:msg_consult' msg_id %}" role="button"><i class="fas fa-arrow-circle-left me-2"></i>{% trans 'Retour' %}</a>
        {% endif %}
    </div>
</form>
{% endblock %}

<!-- Load js -->
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/enableajaxindjango.js' %}"></script>
    <script src="{% static 'js/required_fields.js' %}"></script>
    <script>
        if (/new/i.test(root_url)) {
            let nextdate = current_date_add_weeks(1);
            console.log(nextdate);
            $("#id_msg_nextdate").val(nextdate);
        }

        hideMsgNextDate();

        function hideMsgNextDate() {
            if($('#id_display_nextdate').prop("checked") == true){
                $('#id_msg_nextdate').show();
                $("label[for=id_msg_nextdate]").show();
                $('#id_msg_nextdate').nextAll('.form-text:first').show();
            }
            else if($('#id_display_nextdate').prop("checked") == false){
                $('#id_msg_nextdate').hide();
                $("label[for=id_msg_nextdate]").hide();
                $('#id_msg_nextdate').nextAll('.form-text:first').hide();
            }
        }

        $('#id_display_nextdate').click(hideMsgNextDate);

        $('.delete-row').click(deleteRow);
        function deleteRow() {
            var pk = $(this)[0].id
            console.log(pk);
            $.ajax({
                url : '/ajax/msgdet/del',
                type : 'POST',
                data : {
                    'msgdet_id' : pk,
                },
                success : function (json) {
                    console.log(json);
                    //Inscriptions.modalInfo("Confirmation", json.result);
                    location.reload();
                },
                error : function (xhr, errmsg, err) {
                    console.log(xhr.status + ': ' + xhr.responseText); // provide a
                    // bit more info about the error to the console
                    location.reload();
                }
            });
        }
    </script>
{% endblock js %}
