{% extends 'base_msg.html' %}
{% load i18n cms_tags csstags easy_thumbnails_tags django_bootstrap5 static %}

{% block extrastyle %}
<style>
    .msgdet-categ {
        visibility: visible;
    }
    .msgdet-categ.hidden {
        visibility: hidden;
    }    
</style>
<link rel="stylesheet" href="{% static 'css/dist/accordion.min.css' %}">
{% endblock extrastyle %}


{% block content_title %}
<div class="flex-container-start">
    <h2>{{ title }}</h2>
    {% if request.user.is_authenticated %}
    <p class="text-danger ms-2"><strong>{{msg.get_statut_display}}</strong></p>
    {% endif %}
</div>
{% endblock content_title %} 


{% block content %}
    {% if "confirm" in request.path %}
    <h5 class="text-danger">{{confirm_msg}}
        {% if "envoyer_confirm" in request.path %}
        <a href="JavaScript:newPopup('{% url 'inscription_1_listeenvoi' msg.listeenvoi.id %}?ispopup=YES&inscrflag=OUI');">{{msg.listeenvoi.nom}}</a>
        {% endif %}
    </h5>
    <div class="my-3">
        <a class="btn {{btn_type}}" href="{{confirm_url}}">{% trans 'Confirmer' %}</a>
        {% if "envoyer_confirm" in request.path %}
        <a class="btn btn-secondary" href="JavaScript:newPopup('{% url 'msg:preview_email' msg.id %}');">{% trans 'Preview' %}</a>
        {% endif %}
        <a class="btn btn-main2" href="{% url 'msg:msg_consult' msg.id %}">{% trans 'Annuler' %}</a>
    </div>
    {% endif %}  
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% include 'msg/_msg_detail_buttons.html' %}
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="flex-container-start grey-box">
                <!-- SUMMARY_IMG -->
                {% if msg.summary_img %}
                    <img id="summary-img" class="img-left img-fluid img-300" src="{{msg.summary_img.url}}" alt="{{msg.centrepilote}}">
                {% else %}
                    <img id="summary-img" class="img-left img-fluid img-300" src="{{msg.centrepilote.logo.url}}" alt="{{msg.centrepilote}}">
                {% endif %}
                
                <div>
                    <!-- SUMMARY_TXT -->
                    {% if msg.summary_txt %}
                        {{ msg.summary_txt|safe }}
                    {% else %}
                        {% for i in msg.msgdet_set.all %}
                            <p>
                            <a href="#mydiv_{{i.id}}" class="text-{{ i.categorie.code }}" 
                                onclick="javascript:$('#{{i.id}}').click();">
                                <span><i class="fas {{ i.categorie.icone }} me-2"></i>{{ i.title }}</span>
                            </a>
                            </p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>  

    <!-- LABEL -->
    <div class="my-2 flex-container-start">
        {% for categ in categorie %}
            <div class="btn-{{ categ.code }} m-1" onclick="javascript:hideCateg('{{categ.code}}');">
                <i class="fas {{ categ.icone }} me-2"></i>{{ categ.nom }}
            </div>
        {% endfor %}
    </div>
    
    <!-- ACCORDION -->
    <div class="accordion-bral">    
    {% for object in msg.msgdet_set.all %}
        
        <div id="mydiv_{{ object.id }}">
            <input id="{{ object.id }}" class="ac-input" type="checkbox" {% if msgdet_count < 3 %} checked {% endif %}/>
            <label id="title_{{ object.id }}" class="ac-label title-{{object.categorie.code}}" for="{{ object.id }}">
                <span class="fas {{ object.categorie.icone }} me-2"></span>
                {{ object.title }}
                <i></i>
            </label>
            <div id="text_{{ object.id }}" class="article ac-content-{{object.categorie.code}}">
                {% if msg.display_placeholder %}
                    {% render_placeholder object.short_text2 %}
                {% else %}
                    {{ object.short_text|default_if_none:""|safe }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

    {% if msg.listeenvoi.get_partenaires_list != '' %}
    <br/>
    <div class="row mb-3">
        <div class="col-lg-12 col-md-12">
            <h6>Réalisé grâce au concours et au soutien de nos partenaires</h6>
            <div class="flex-container partenaires">
                {{msg.listeenvoi.get_partenaires_list_large|safe}}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock content %}

<!-- Load js -->
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        // Popup window code
        function newPopup(url) {
            popupWindow = window.open(
                url,'popUpWindow','height=800,width=800,left=400,top=30,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
        }

        $(window).on('load', function() {
            if (location.href.indexOf('?edit') != -1) {
                $('.ac-input').attr('checked','checked');
            }
        });
        // Trop de confusion! ne pas implémenter
        // function hideCateg(categ) {
        //     let arr = ['avert','comm','event'];
        //     for (let i = 0; i < arr.length; i++) {
        //         $(".categ-"+arr[i]).removeClass('hidden');
        //         if ( arr[i] != categ) { 
        //             $(".categ-"+arr[i]).addClass('hidden');
        //         }
        //     }
        // }        
    </script>  
{% endblock js %}
