{% extends 'base_msg.html' %}
{% load sekizai_tags i18n static django_bootstrap5 %}

{% block extrastyle %}
{% endblock extrastyle %}

{% block content %}
    
    <div class="flex-container">
        {% include 'forms/msg_listsearch_form.html' %}
        {% if user.is_manager %}
        <div class="m-1"><a class="btn btn-main2" href="{% url 'msg:new' %}"><i class="fas fa-plus me-2"></i>{% trans "Nouveau" %}</a></div>
        {% endif %}
        {% include 'forms/listsearch_counter.html' %}
    </div>
    

    {% if msg_list %}
        {% for object in msg_list %}
            {% include "msg/_msg_list_item.html" %}
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-md-12">
            {% trans "Désolé, aucun résultat pour cette recherche." %}
        </div>
    </div>
    {% endif %}
{% endblock %}


{% block js %}
  {{ block.super }}
    <script>
        function submitForm() {
            $("#listsearch_form").submit();
        }
        $(document).ready(function () {
            $("#txt_search_submit").change(submitForm);
            $("#id_annee").change(submitForm);
            $("#id_mois").change(submitForm);            
            // $("#id_listeenvoi").change(submitForm);
            // $("#id_centrepilote").change(submitForm);
        });
    </script>
{% endblock js %}