{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <p>{% blocktrans %}L'adresse de cette page n'existe plus.{% endblocktrans %}</p>

    <p>{% blocktrans %}Nous vous proposons une recherche par mot clé dans les {% endblocktrans %}
        <a href="{% url 'msg:msg_list' %}">Messages</a>
    </p>
{% endblock %}
