{% extends 'base.html' %}

{% block title %}Forbidden (403){% endblock title %}

{% block content %}
<h1>Forbidden (403)</h1>
<p>Vous n'êtes pas autorisé à accéder à cette page.</p>
{% endblock content %}