{% load csstags %}
<div class="flex-container-start">
	<span class="page-text">Ligne</span>
	<span class="page-counter">{% frompageline page_obj.number view.paginate_by page_obj.paginator.count %}</span>
	<span class="page-text">à</span>
	<span class="page-counter">{% topageline page_obj.number view.paginate_by page_obj.paginator.count %}</span>
	<span class="page-text">sur</span>
	<span class="page-counter">{{ page_obj.paginator.count }}</span>
</div>