{% load csstags %}
{% comment %}
https://getbootstrap.com/docs/4.1/components/pagination/
{% endcomment %}



{% if is_paginated %}

  <ul class="pagination">

	{% if page_obj.has_previous %}

	  <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a href="#" class="page-link">&laquo;</a></li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><a href="#" class="page-link">{{ i }}<span class="sr-only">(current)</span></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?{% url_replace page=i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}


	{% if page_obj.has_next %}
	  <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a href="#" class="page-link">&raquo;</a></li>
    {% endif %}
  </ul>

{% endif %}
