{% load static settings_tags %}

<footer class="page-footer mt-auto py-3 font-small">
    <div class="d-flex justify-content-between">
        
        <a target="_blank" rel="noopener noreferrer" href="https://spw.wallonie.be/">
            <img class="logo" height="40" width="118" 
                alt="wallonie" src="{% static 'img/logo/spw172.png' %}"
                title="Service Public de Wallonie">
        </a>

        <div>
            <ul style="list-style: none; text-align: left;">
                <li>&copy; <a href="http://www.cra.wallonie.be" target="_blank">CRA-W</a> 2021</li>
                <li>Nous <a href="mailto:centrespilotes@cra.wallonie.be">contacter</a></li>
            </ul>
        </div>
        
        <div></div>
        <a id="GoToTop" class="scroll-to-top rounded" href="#">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>

</footer>