<!-- https://simpleisbetterthancomplex.com/tips/2016/09/06/django-tip-14-messages-framework.html -->

{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
  </div>
{% endfor %}