{% load static settings_tags i18n sekizai_tags cms_tags menu_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="google" content="notranslate">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="description" content="A framework for launching new Django projects quickly.">
<meta name="author" content="Patrick Houben">

<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

<title>{% block title %}CentresPilotes{% endblock title %}</title>

{% block css %}
	<link rel="stylesheet" href="{% static 'css/dist/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/dist/main.css' %}?reload=V47">
	<link rel="stylesheet" href="{% static 'fontawesome-free-5.12.1-web/all.min.css' %}">
{% endblock css %}

{% block extrastyle %}
{% endblock extrastyle %}

{% render_block "css" %}
</head>

<body id="page-top">
	{% cms_toolbar %}

	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#masterMenu" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="masterMenu">
			<ul class="nav nav-tabs">
				{% block mainmenu %}
				<li class='child nav-item'><a class="nav-link" href="/">Accueil</a></li>
				<li class='child nav-item'><a class="nav-link" href="/cp/">Centres pilotes</a></li>
				<li class='child nav-item'><a class="nav-link" href="{% url 'msg:msg_list' %}?annee={% now 'Y'%}">Avertissements</a></li>
				<li class='child nav-item'><a class="nav-link" href="{% url 'agenda:event_home' %}">Agenda</a></li>
				<li class='child nav-item'><a class="nav-link" href="{% url 'info:outil' %}">Outils</a></li>
				<li class='child nav-item'><a class="nav-link" href="{% url 'info:partenaire' %}">Partenaires</a></li>
				<li class='child nav-item'><a class="nav-link" href="{% url 'info:autre' %}">Liens utiles</a></li>
				{% endblock mainmenu %}
			</ul>

			{% if user.is_authenticated %}
			<ul class="nav navbar-nav ms-auto">
				<li class="nav-item dropdown child">
					<a class="nav-link dropdown-toggle" href="#" id="accounts_menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ user.email }}
					</a>
					<ul class="dropdown-menu dropdown" aria-labelledby="accounts_menu">
						<li><a class="dropdown-item" href="{% url 'profile_detail' user.id %}">{% trans "Mon compte" %}</a></li>
						<li><a class="dropdown-item" href="{% url 'inscription_1_user' user.id %}">{% trans "Mes inscriptions" %}</a></li>

						{% if user.is_manager %}
							<li><a class="dropdown-item" href="{% url 'cp_detail' user.manage_cp.id %}">{% trans "Mon centre pilote" %}</a></li>
							<li><a class="dropdown-item" href="{% url 'listeenvoi_list' %}">{% trans "Liste envoi " %}{{ user.manage_cp.acronyme }}</a></li>
							<li><a class="dropdown-item" href="{% url 'profile_create' %}">{% trans "Ajouter utilisateur" %}</a></li>
							<li><a class="dropdown-item" href="{% url 'info:cpilote_stat' %}">{% trans "Statistiques visites" %}</a></li>
						{% endif %}

						{% if user.is_odk_admin %}
							<li><a class="dropdown-item" href="{% url 'odk:xform_list' %}">{% trans "ODK formulaires disponibles" %}</a></li>
							<li><a class="dropdown-item" href="{% url 'odk:xformsubmit_list' %}">{% trans "ODK formulaires soumis" %}</a></li>
						{% endif %}

						<li><a class="dropdown-item" href="{% url 'logout' %}">{% trans "Déconnexion" %}</a></li>
					</ul>
				</li>
			</ul>
			{% else %}
			<ul class="nav navbar-nav ms-auto">
				<li class="nav-item">
				<form>
					<a href="{% url 'login' %}" class="nav-link">{% trans "Se connecter" %}</a>
				</form>
				</li>
			</ul>
			{% endif %}
			</div>
		</div>
	</nav>

	{% block cpmenu %}
	{% endblock cpmenu %}

	<div class="wrapper">
		{% block sidebar %}
			{% include 'menu/_base_sidebar.html' %}
		{% endblock sidebar %}

		<div id="content" class="content">

			{% block breadcrumb %}
			{% show_breadcrumb 0 "menu/_breadcrumb.html" 0 %}
			{% endblock breadcrumb %}

			<div class="banner-content">
			{% block banner %}
			{% endblock banner %}
			</div>
			
			{% block main_content %}
			<div class="container">
				{% include '_messages.html' %}

				{% block content_title %}<h2>{{ title }}</h2>{% endblock content_title %}

				{% block content %}
					{% with 720 as width and 480 as height %}
						{% placeholder "content" %}
					{% endwith %}
				{% endblock content %}
			</div>
			{% endblock main_content %}

		</div>

	</div>

	{% include '_footer.html' %}

	{% block js %}
		<script>
			var base_url = "{% settings_value 'BASE_URL' %}";
		</script>
		<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/cpmain.js' %}?reload=V21"></script>
	{% endblock js %}
	
	{% render_block "js" %}
</body>
</html>
