{% extends 'base.html' %}
{% load csstags menu_tags i18n %}

{% block title %}{{ title }}{% endblock title %}

{% block breadcrumb %}
{% show_breadcrumb 1 "menu/_breadcrumb_direct.html" 0 %}
{% endblock breadcrumb %}

{% block content %}
{% for year, year_items in data.items %}
    <h3><a href="{% url 'info:goaccess_report_year' year %}" target="_blank">{% trans "Année" %} {{ year }}</a></h3>
    <ul>
        {% for month, report in year_items.items %}
            <li class="my-3">
                <a href="{% url 'info:goaccess_report' month %}?year={{ year }}&report={{ report }}" target="_blank">{% trans "Mois" %} {{ month }}</a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

{% endblock content %}