{% extends 'agenda/base_agenda.html' %}
{% load i18n csstags static menu_tags django_bootstrap5 %}

{% block extrastyle %}
    {{ form.media }}
    <style>
        .selector h2 {
            margin: 0;
            padding: 8px;
            font-weight: 400;
            font-size: 15px;
            text-align: left;
            background: #6287A2;
            color: white;
        }
        .datetimeshortcuts {
          font-size: 12px;
        }
    </style>    
{% endblock extrastyle %}


{% block content %}
<form action="" method="post" class="form">
  {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
  
    <button type="submit" class="btn btn-danger2"><i class="far fa-save me-2"></i>{% trans 'Enregistrer' %}</button>
    {% if "add" in request.path %}
    <a class="btn btn-main2" href="{% url 'agenda:event_home' %}" role="button"><i class="fas fa-arrow-circle-left me-2"></i>{% trans 'Retour' %}</a>
    {% else %}
      <a class="btn btn-main2" href="{% url 'agenda:event_detail' object.id %}"><i class="fas fa-arrow-circle-left me-2"></i>{% trans 'Retour' %}</a>
    {% endif %}
</form>
<br/>
{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
  <script src="{% static 'js/enableajaxindjango.js' %}"></script>
  <script src="{% static 'js/required_fields.js' %}"></script>
{% endblock js %} 
    
