{% extends 'agenda/base_agenda.html' %}
{% load i18n csstags menu_tags %}


{% block content %}
<div class="display-detail">
  <div class="mb-3 row">
    <div class="col-md-2 col-form-label">{% get_verbose_field_name object "event_type" %}</div>
    <div class="col-md-10 form-input text-danger">{{ object.get_event_type_display|upper }}</div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-2 col-form-label">{% get_verbose_field_name object "organisation" %}</div>
    <div class="col-md-10 form-input">{{ object.get_organisation_list_large|safe }}</div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-2 col-form-label">{% get_verbose_field_name object "culture_txt" %}</div>
    <div class="col-md-10 form-input">{{ object.culture_txt }}</div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-2 col-form-label">{% get_verbose_field_name object "modeprod" %}</div>
    <div class="col-md-10 form-input">{{ object.get_modeprod_list }}</div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-2 col-form-label">{% get_verbose_field_name object "public_cible" %}</div>
    <div class="col-md-10 form-input">{{ object.get_public_cible }}</div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-2 col-form-label">Jour</div>
    <div class="col-md-4 form-input text-danger">{{ object.begin_date|date:"l j F Y"|upper }}</div>
    <div class="col-md-2"></div>
    <div class="col-md-1 col-form-label">Heure</div>
    <div class="col-md-1 form-input">{{ object.begin_time }}</div>
    {% if object.end_time %}
      <div class="col-md-1 col-form-label text-center">à</div>
      <div class="col-md-1 form-input">{{ object.end_time }}</div>
    {% endif %}
  </div>
  
  <div class="mb-3 row">
    <div class="col-md-2 col-form-label">Lieu</div>
    <div class="col-md-10 form-input">
        <p style="margin-bottom: 0px;">{{object.street|default_if_none:""}}</p>
        <p>{{object.codepostal|default_if_none:""}}</p>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-md-2 col-form-label">{% get_verbose_field_name object "place" %}</div>
    <div class="col-md-10 form-input">{{ object.place }}</div>
  </div>

  <div class="mb-3 row">
    <div class="col-md-2 col-form-label">{% get_verbose_field_name object "short_desc" %}</div>
    <div class="col-md-10 form-input">{{ object.short_desc|safe }}</div>
  </div>  

</div>

{% if user.is_manager %}
  {% if "del" in request.path or "copy" in request.path %}
    <h4>{{ confirm_message }}</h4>
      <form action="" method="POST">{% csrf_token %}
          <input type="submit" class="btn btn-warning2" value="Oui" />
          <a class="btn btn-main2" href="{{ object.get_absolute_url }}">{% trans "Non/Annuler" %}</a>
      </form>
  {% else %}
  <div>
    <a class="btn btn-main2" href="{% url 'agenda:event_update' object.id %}"><i class="fas fa-pencil-alt me-2"></i>{% trans "Change" %}</a>
    <a class="btn btn-main2" href="{% url 'agenda:event_delete' object.id %}"><i class="far fa-trash-alt me-2"></i>{% trans "Delete" %}</a>
    <a class="btn btn-main2" href="{% url 'agenda:event_copy' object.id %}"><i class="far fa-copy me-2"></i>{% trans 'Copier' %}</a>

    <a class="btn btn-main2 goBack" style="color: white;" href="{% url 'agenda:event_home' %}"><i class="fas fa-arrow-circle-left me-2"></i>{% trans "Back" %}</a>
  </div>
  {% endif %}
{% endif %}

{% endblock content %}
