{% extends 'agenda/base_agenda.html' %}
{% load i18n static csstags menu_tags %}

{% block title %}Agenda{% endblock %}

{% block extrastyle %}
<style>
    #calendar table {
        width: 100%;
    }
    #calendar table tr th {
        text-align: center;
        font-size: 16px;
        background-color: #6287A2;
        color: white;
    }
    #calendar table tr td {
        width: 10%;
        border: 1px solid #555;
        vertical-align: top;
        height: 120px;
        padding: 2px;
    }
    #calendar td.noday {
        background-color: #eee;
    }
    #calendar td.filled {
        background-color: #6287A2;
    }
    #calendar .dayNumber {
        font-size: 16px !important;
        font-weight: bold;
    }
    #calendar a {
        color: white;
    }
    @media screen and (max-width: 470px) {
	.event-link {
	    font-size: 14px;
	}
}    
</style>
{% endblock extrastyle %}


{% block content %}
    {% block "content_title" %}
        <div class="flex-container">
            <h1 class="me-1">Agenda</h1>
            <a class="btn btn-main2 m-1" href="/agenda">{{current_date}}</a>
            {% if user.is_manager %}
            <a class="btn btn-main2 m-1" href="{% url 'agenda:event_create' %}">
                <i class="fas fa-plus me-2"></i>{% trans "Ajouter" %}</a>
            
            {% endif %}
        </div>
    {% endblock %}

    <table width="100%">
        <tr>
            <td width="20%" align="left">
                &lt;&lt; <a href="/agenda/{{from_date2|date:'Y'}}/{{from_date2|date:'m'}}/">{{from_date2|date:"M Y"|upper}}</a>
            </td>
            <td width="20%" align="left">
                &lt; <a href="/agenda/{{from_date|date:'Y'}}/{{from_date|date:'m'}}/">{{from_date|date:"M Y"|upper}}</a>
            </td>
            <td width="20%" align="center"><a href="/agenda">{{mid_date|date:"M Y"|upper}}</a></td>
            <td width="20%" align="right">
                <a href="/agenda/{{to_date|date:'Y'}}/{{to_date|date:'m'}}/">{{to_date|date:"M Y"|upper}}</a> &gt;
            </td>
            <td width="20%" align="right">
                <a href="/agenda/{{to_date2|date:'Y'}}/{{to_date2|date:'m'}}/">{{to_date2|date:"M Y"|upper}}</a> &gt;&gt;
            </td>
        </tr>
    </table>

    <div id="calendar">{{cp_calendar}}</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script>
    // function submitForm() {
    //     $("#listsearch_form").submit();
    // }
    // $(document).ready(function () {
        // $("#id_centrepilote").on('change', submitForm);
    // }); 
</script>
{% endblock js %}