{% extends "base_accounts.html" %}
{% load i18n %}

{# Not used #}

{% block content %}
<br>

<p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>

<p><a href="{% url 'login' %}">{% trans 'Log in again' %}</a></p>

{% endblock %}
