{% extends 'base_accounts.html' %}
{% load i18n csstags django_bootstrap5 %}

{% block title %}{% trans "Se connecter" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-5">
		<h3>{% trans "Se connecter" %}</h3>
		<form action="" method="post" class="form">
			{% csrf_token %}
			{% bootstrap_form form layout='horizontal' %}
			<div class="mb-3 row">
				<div class="col-md-3 col-form-label"></div>
			<div class="col-md-9">
				<p class="forgot-password"><a href="{% url 'password_reset' %}" title="{% trans 'Mot de passe oublié?' %}">{% trans "Mot de passe oublié?" %}</a></p>
			</div>
			</div>	
			
				<button type="submit" class="btn btn-main2">{% trans "Se connecter" %}</button>
				<input class="btn btn-success2 goBack" type="button" value="Retour" />
			
			{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
		</form>
	</div>

	<div class="col-md-1"></div>
		
	<div class="col-md-6">
		<h3>{% trans "S'inscrire" %}</h3>
		<form action="" method="post" class="form">
		<p>Pas encore inscrit?</p>

		<p>Pour se connecter il faut <a class="btn btn-main2" href="{% url 'signup' %}">{% trans "S'inscrire" %}</a> au préalable.</p>
		<p>Une fois inscrit vous pourrez gérer la réception d'emails des avertissements actifs sur cette plateforme.</p>
		<p>À l'inscription, un email de confirmation avec un lien d'activation vous sera envoyé. 
			<b>Vérifiez vos email indésirables et ne cliquez qu'une seule fois sur le lien!</b></p>
		<p>Rendez-vous ensuite sur le site pour vous connecter.</p>
		<p>Dès confirmation de votre inscription, vous êtes <u>automatiquement inscrit 
			à toutes les listes d'envoi</u> d'avertissements et communications actives sur la plateforme.
			Libre à vous de supprimer ensuite celles qui ne vous intéressent pas.</p>
		</form>
	</div>
</div>
{% endblock %}
