{% extends 'base_accounts.html' %}
{% load i18n csstags django_bootstrap5 sekizai_tags %}

{% block content %}
  <form action="" method="post" class="form" id="password_reset">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      
          <button type="submit" class="btn btn-danger2">{% trans "Enregistrer" %}</button>
          <input class="btn btn-main2 goBack" type="button" value="Retour" />
      
  </form>
{% endblock %}
