{% extends 'base_accounts.html' %}
{% load i18n django_bootstrap5 %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h3>{{ title }}</h3>{% endblock %}

{% block content %}
  {% if validlink %}
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form action="" method="post" class="form" id="password_reset">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        
            <button type="submit" class="btn btn-danger2">{% trans "Envoyer" %}</button>
            <input class="btn btn-main2 goBack" type="button" value="Retour" />
        
    </form>
  {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  {% endif %}
{% endblock %}
