{% extends 'base_accounts.html' %}
{% load i18n csstags django_bootstrap5 %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h3>{{ title }}</h3>{% endblock %}

{% block content %}
    {% comment "traduction pas dispo" %}
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    {% endcomment %}
    <p>{% trans "Mot de passe oublié? Encodez votre adresse électronique ci-dessous et nous vous enverrons un courriel avec les insctructions pour en créer un nouveau." %}</p>
    <form action="" method="post" class="form" id="password_reset">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        
            <button type="submit" class="btn btn-danger2">{% trans "Envoyer" %}</button>
            <input class="btn btn-main2 goBack" type="button" value="Retour" />
        
    </form>
{% endblock content %}
