{% extends 'base_accounts.html' %}
{% load i18n %}

{% block content %}
<br>
<p></p>
<p>Nous vous avons envoyé un email avec les instructions pour changer de mot de passe.</p>

<p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier "spam".</p>

{% endblock %}
