<form id=listsearch_form method="get">
  <div class="flex-container-start my-1">
      <div class="m-1">{{view.form.txtsearch}}</div>
      <div class="m-1">{{view.form.annee}}</div>
      <div class="m-1">{{view.form.mois}}</div>
      <button id="txt_search_submit" type="submit" class="btn btn-main2 m-1" title="Rechercher"><i class="fas fa-search"></i></button>
      <a class="btn btn-main2 m-1" href="{% url url_name_list %}?annee={% now 'Y'%}" title="Réinitialiser"><i class="fas fa-broom"></i></a>
  </div>
</form>
