<br/>
<table class="social" width="100%">
    <tr>
        <td>						
            <!--- column 1 -->
            <div class="column">
                <table bgcolor="" cellpadding="" align="left">
                    <tr>
                        <td><img src="{{ logocp }}" /></td>
                    </tr>
                </table><!-- /column 1 -->
            </div>

            <!--- column 2 -->
            <div class="column">
                <table bgcolor="" cellpadding="" align="left">
                    {% for cp in cploc_list %}
                    <tr>
                        <td>
                            <p>
                                <strong>{{cp.intitule}}</strong><br/>
                                {{cp.title}}<br/>
                                {{cp.subtitle|default_if_none:""}}<br/>
                                {{cp.street}}<br/>
                                {{cp.zip}}<br/>
                            </p>
                            <p>
                                {{cp.contact.get_phone}}<br/>
                                {% if cp.contact.email %}
                                <a href="mailto:{{cp.contact.email}}">{{cp.contact.email}}</a>
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="clear"></div>
        </td> 
    </tr>
</table>