<!-- FOOTER -->
<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">
            <!-- content -->
            <div class="content">
                <table>
                    {% if msg.centrepilote.get_social_link_email != '' %}
                    <tr>
                        <td align="center"><p>Retrouvez nous sur</p></td>
                    </tr>
                    <tr>
                        <td align="center">{{ msg.centrepilote.get_social_link_email|safe }}</td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    {% endif %}
                    <tr>
                        <td align="center">
                        <p>&copy;&nbsp;Cet avis ne peut être diffusé sans l’accord du 
                            <a href={{ msg.centrepilote.siteweb }} target="_blank">{{ msg.centrepilote.acronyme }}</a>
                        </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <p>
                                <a href="{{ base_url }}">{{ site_name }}</a> |
                                <a href="{{ base_url }}{% url 'login' %}"><unsubscribe>Se désinscrire</unsubscribe></a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div><!-- /content -->
        </td>
        <td></td>
    </tr>
</table>
<!-- /FOOTER -->