{% load static %}
<tr>
    <td class="social">
        <p>Les avertissements sont un <strong>service gratuit</strong> proposé au monde agricole. 
        Pour gérer leur réception par email, il faut <a href="{% url 'login' %}">Se connecter</a> 
        et cocher les listes d'envois qui vous intéressent. 
        La fréquence des envois pour les {{msg.listeenvoi.nom}} est {{msg.listeenvoi.description}}.
        </p>
    </td>
</tr>
