<br/>
<table class="social" width="100%">
    <tr>
        <td><img class="logo" src="{{ logocp }}" /></td>
        {% for cp in cploc_list %}
        <td>
            <p class="small">
                <br/>
                <strong>{{cp.intitule}}</strong><br/>
                {{cp.title}}<br/>
                {{cp.subtitle|default_if_none:""}}<br/>
                {{cp.street}}<br/>
                {{cp.zip}}<br/>
                <strong>Contact: </strong>{{cp.contact.get_full_name}}<br/>
                {{cp.contact.get_phone}}<br/>
                {{cp.contact.email|default_if_none:""}}
            </p>
        </td>
        {% endfor %}
    </tr>
</table>