<br/>
<table class="social" width="100%">
    <tr>
        <td>
            <h4>L'équipe du {{msg.centrepilote.acronyme}}</h4>
        </td>
    </tr>
    {% for profile in cpteam_list %}
        <tr>
            <td class="small" style="padding: 5px 0 0 0; border-top: thin silver solid;">
                <p>
                {{profile.get_full_name}}<br/>
                <strong>{{profile.jobdesc|default_if_none:""}}</strong><br/>
                <a href="mailto:{{profile.email}}"> {{profile.email}}</a><br/>
                {{profile.get_phone}}
                </p>
            </td>
        </tr>
    {% endfor %}
</table>