{% if msg.listeenvoi.get_partenaires_list != '' %}
<br/>
<table class="social" width="100%">
    <tr>
        <td><p class="title">Réalisé grâce au concours et au soutien de nos partenaires</p></td>
    </tr>
    <tr>
        <td>{{partenaires|safe}}</td>
    </tr>
</table>
{% endif %}
