{% extends "msg/email/email_template.html" %}
{% load cms_tags static %}

{% block head_meta %}
    <title>{{msg.get_title_stamp_ext}}</title>
{% endblock head_meta %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/dist/accordion.min.css' %}">
<style type="text/css">
    /* MsgDet */
    .msgdet-avert {
        border-style: solid;
        border-width: thin;
        border-color: #CE8F5A;
        padding: 10px;
        margin-top: 10px;
        text-align: justify;
        text-justify: inter-word;        
    }
    .msgdet-avert:hover, .msgdet-avert:focus {
        background-color: #F8EFE7;
    }
    .msgdet-comm {
        border-style: solid;
        border-width: thin;
        border-color: #6287A2;
        padding: 10px;
        margin-top: 10px;
        text-align: justify;
        text-justify: inter-word;        
    }
    .msgdet-comm:hover, .msgdet-comm:focus {
        background-color: #E9EEF2;
    }    
    .msgdet-event {
        border-style: solid;
        border-width: thin;
        border-color: #5EC0CA;
        padding: 10px;
        margin-top: 10px;
        text-align: justify;
        text-justify: inter-word;
    }
    .msgdet-event:hover, .msgdet-event:focus {
        background-color: #E8F6F7;
    }
    /* Title */
    .title-avert {
        color: #ce8f5a;
        border: thin solid #ce8f5a;
        padding: 10px;
        /* font-weight:900; font-size: 14px; */
    }
    .title-avert h4:hover {
        background-color: #ce8f5a;
        color: white;
    }
    .title-avert:hover, .title-avert:focus {
        background-color: #ce8f5a;
        color: white;
    }

    .title-comm {
        padding: 10px;
        /* font-weight:900; font-size: 14px; */
        color: #6287a2;
        border: thin solid #6287a2;
    }
    .title-comm h4:hover {
        background-color: #6287a2;
        color: white;
    }    
    .title-comm:hover, .title-comm:focus {
        background-color: #6287a2;
        color: white;
    }

    .title-event {
        padding: 10px;
        /* font-weight:900; font-size: 14px; */
        color: #5ec0ca;
        border: thin solid #5ec0ca;
    }
    .title-event h4:hover {
        background-color: #5ec0ca;
        color: white;
    }    
    .title-event:hover, .title-event:focus {
        background-color: #5ec0ca;
        color: white;
    }
    .note {
        font-weight: bold;
        color: green;
        margin-top: 10px;
    }
    .table-cell-padding {
        width: 80%;
        margin:auto;
        border-collapse: collapse;
        border-style: hidden;
    }
    .table-cell-padding td {
        padding: 10px;
        border: thin solid silver;
    }
    .table-cell-padding td p {
        padding: 5px;
    }

    .figure {
        text-align: justify;
        font-style: italic;
        font-size: smaller;
        background:#fff;
        text-indent: 0;
        border: thin silver solid;
        padding: 1em;
    }
    .img-left{
        float: left;
        max-width: 50%;
        height: auto;
        margin-right: 10px;
        padding-right: 20px;
        margin-bottom: 10px;
    }
    .img-center{
        float: center;
    }
    /* -------------------------------------
        CENTREPILOTE specifique
    ------------------------------------- */
    .bg-esc {
        background-color: #CAE9C0;
    }
    .bg-esc-title {
        background-color: #7CCA62;
    }
    .bg-fro {
        background-color: #FCE98C;
    }
    .bg-fro-title {
        background-color: #FFCC00;
    }
    .bg-cer {
        background-color: #D6C57C;
    }
    .bg-cer-title {
        background-color: #B99113;
    }    
    .text-vegemar {
        color: #009A3E;
    }
</style>
{% endblock extra_style %}

{% block page_header %}
    {% if preview_mail %}
    <table class="head-wrap">
        <tr><td class="header container" align="right">
            <a class="btn soc-btn" href="JavaScript:window.close();">Fermer</a>
        </td></tr>
    </table>
    {% endif %}

    <!-- HEADER BANNER -->
    <table class="head-wrap">
        <tr>
            <td class="header container" align="center">
                <div class="content">
                    <table>
                        <tr>
                            <td><img class="banner-style" src="{{bannerfile}}"/></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <!-- /HEADER -->
{% endblock page_header %}

{% block page_content %}
<div class="content">
    <table class="body-wrap">  
        <tr>
            <td class="container" bgcolor="#FFFFFF">
                <div class="content">
                    <!-- INTRODUCTION -->
                    <table>
                        <tr><td><p>Bonjour à toutes et tous et bonne lecture,</p></td></tr>
                        <tr><td class="social">
                            <p>
                            Si l'affichage de ce message n'est pas optimal, vous pouvez le consulter 
                            directement sur <a href="{{ base_url }}{% url 'msg:msg_consult' msg.id %}">centrespilotes.be</a>.
                             Retrouvez également tous nos avertissements sur <a href="{{ base_url }}{% url 'msg:msg_list' %}">centrespilotes.be</a>
                            </p>
                        </td></tr>
                    </table>

                    <!-- LABEL -->
                    <table>
                        <tr>
                        {% for categ in categorie %}
                        <td class="soc-btn {{categ.code}}">
                            {{ categ.nom }}
                        </td>
                        {% endfor %}
                        </tr>
                    </table>
                    
                    <!-- TOC -->
                    <table class="social">
                        <tr>
                            <td>
                                {% if msg.summary_txt %}
                                    <div>{{msg.summary_txt|safe}}</div>
                                {% else %}
                                    {% for i in msgdet %}
                                    <p>
                                        <a href="#title{{i.id}}" style="color: {{ i.categorie.couleur }}">
                                            <span>{{ i.title }}</span>
                                        </a>
                                    </p>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>

                    
                    <!-- MAIN TEXT -->
                    <table>
                        {% for i in msgdet %}
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td class="title-{{i.categorie.code}}">
                                <h4 id="title{{i.id}}" name="title{{i.id}}">{{ i.title }}</h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="msgdet msgdet-{{i.categorie.code}}">{% render_placeholder i.short_text2 %}</td>
                        </tr>
                        {% endfor %}

                        <tr><td><p class="note">{{msg_nextdate_comm}}</p></td></tr>

                        <tr><td><p>Bien cordialement / Met Vriendelijke Groeten / Freundliche Grüße / Best Regards</p></td></tr>
                    
                        {% include 'msg/email/_email_periodicite.html' %}

                        {% include 'msg/email/_email_extracomm.html' %}
                    </table>

                    {% include 'msg/email/_email_team.html' %}
    
                    {% include 'msg/email/_email_location.html' %}
    
                    {% include 'msg/email/_email_partenaires.html' %}

                </div>
            </td>
        </tr>
    </table>
</div>
            
{% endblock page_content %}


{% block page_footer %}
    {% include 'msg/email/_email_footer.html' %}
{% endblock page_footer %}
